<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<form th:action="@{/common/product_insert}" method="post" th:object="${productDto}" enctype="multipart/form-data">
      상품명 <input type="text" th:field="*{product_name}"><br>
        카테고리<select id="topCategory" name="topCategory">
            <option value="">--선택--</option>
            <option th:each="c : ${topCategories}"
                    th:value="${c.categoryId}"
                    th:text="${c.categoryName}"></option>
        </select><br>
      가격 <input type="text" th:field="*{price}"><br>
      단위 <input type="text" th:field="*{unit}"><br>
      분류 <input type="text" th:field="*{status}"><br>
      이미지 <br>
    <input type="file" name="file"><br>
    <div th:if="${msg!=null}" style="color: red; font-size: 0.8em">[[${msg}]]</div>
  <button type="submit">등록</button>
</form>
</body>
</html>