<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>상품 등록</title>
</head>
<body>

<div th:replace="fragments :: header"></div>

<form th:action="@{/products}" method="post" enctype="multipart/form-data" >
  <input type="text" name="productName" placeholder="상품명" required><br>

  <input type="number" name="price" placeholder="가격" required><br>

  <select name="productType">
    <option value="ROOM">상온</option>
    <option value="COLD">냉장</option>
    <option value="FROZEN">냉동</option>
  </select><br>

  <input type="number" name="categoryId" placeholder="카테고리 ID"><br>

  <input type="file" name="image" required><br>

  <button type="submit">등록</button>
</form>

</body>
</html>
