<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>상품 등록</title>
   </head>
<body>

<div class="container">
    <h2>상품 등록</h2>

    <!-- 상품 등록 폼 -->
    <form th:action="@{/product}" method="post">

        <label>상품명</label>
        <input type="text" name="productName" required>

        <label>가격</label>
        <input type="number" name="price" required>

        <label>재고수량</label>
        <input type="number" name="stock" required>

        <label>상품 설명</label>
        <input type="text" name="description">

        <button type="submit" class="btn">등록</button>
    </form>
</div>

</body>
</html>