<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/warehouse/warehouseinsert.css}">
</head>
<body>
<div class="container">
    <div class="main">
        <div class="main-title">
            <span class="main-icon">🏗️</span>
            창고 등록
        </div>
        <div class="main-option">
            <div><a th:href="@{/warehouse/list}">창고 조회</a></div>
            <div class="active"><a th:href="@{/warehouse/insert}">+창고 등록</a></div>
        </div>
        <!--창고 등록-->
        <div class="addWarehouse">
            <form th:action="@{/warehouse/insert}" method="post" th:object="${warehouseDto}">
                <div>
                    <label for="warehouse_name">창고이름</label>
                    <input type="text" id="warehouse_name" th:field="*{warehouse_name}">
                </div>
                <div>
                    <label for="location">창고위치</label>
                    <input type="text" id="location" th:field="*{location}" placeholder="예: 서울 강남구">
                </div>
                <div>
                    <label for="warehouse_type">보관식</label>
                    <select id="warehouse_type" th:field="*{warehouse_type}">
                        <option value="COLD">냉장</option>
                        <option value="FROZEN">냉동</option>
                        <option value="ROOM">상온</option>
                    </select>
                </div>
                <div>
                    <label for="maximum_capacity">최대 용량</label>
                    <input type="number" id="maximum_capacity" th:field="*{maximum_capacity}" placeholder="예: 1000" min="0">
                </div>
                <div class="button-group">
                    <input type="submit" value="창고 등록">
                    <div class="sub-button">
                        <input type="reset" value="초기화">
                        <a th:href="@{/warehouse/list}">뒤로가기</a>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>