<section xmlns:th="http://www.thymeleaf.org" th:fragment="content">
<link rel="stylesheet" th:href="@{/css/warehouse/warehouselist.css}">
<div class="container">

    <!--창고 관리-->
    <div class="storage">
        <div class="main-card">
            <div class="main">
                <div class="main-title">
                    <span class="main-icon">🏗️</span>
                    창고 관리
                </div>
                <div class="main-option">
                    <div class="active"><a th:href="@{/warehouse/list}">창고 조회</a></div>
                    <div><a th:href="@{/warehouse/insert}">+창고 등록</a></div>
                </div>

                <!-- 검색 + 필터 -->
                <div class="filter-container">
                    <form class="filter">
                        <input type="text" id="keyword" name="keyword" th:value="${searchDto.keyword}" placeholder="창고번호, 이름, 위치 검색">
                        <button name="field" type="submit" value="all" th:classappend="${searchDto.field=='all' or searchDto.field == null or searchDto == ''} ?  'active' : '' ">전체</button>
                        <button name="field" type="submit" value="cold" th:classappend="${searchDto.field=='cold'} ?  'active' : '' ">냉장</button>
                        <button name="field" type="submit" value="frozen" th:classappend="${searchDto.field=='frozen'} ?  'active' : '' ">냉동</button>
                        <button name="field" type="submit" value="room" th:classappend="${searchDto.field=='room'} ?  'active' : '' ">상온</button>
                    </form>
                </div>

                <!--창고 리스트-->
                <div class="storage-list" id="warehouse-table">
                    <ul th:each="list:${list}">
                        <a th:href="@{/warehouse/update(warehouse_id=${list.warehouse_id})}">
                            <li>
                                <p th:text="${list.warehouse_name}"></p>
                                <p th:text="${list.warehouse_type}"></p>
                                <p th:text="${list.warehouse_id}" hidden="hidden"></p>
                                <p>위치</p>
                                <p th:text="${list.location}"></p>
                                <p>용량</p>
                                <p th:text="${list.maximum_capacity}"></p>
                            </li>
                        </a>
                    </ul>

                    <!-- 페이징 처리-->
                    <div class="pagination_wrap">
                        <ul>
                            <li th:if="${pageInfo.startPageNum > 1}">
                                <a th:href="@{/warehouse/list(pageNum=${pageInfo.startPageNum -1}, field=${searchDto.field}, keyword=${searchDto.keyword})}">[이전]</a>
                            </li>

                            <li th:each="num : ${#numbers.sequence(pageInfo.startPageNum, pageInfo.endPageNum)}">
                                <a th:href="@{/warehouse/list(pageNum=${num}, field=${searchDto.field}, keyword=${searchDto.keyword})}">
                                    [[ ${num} ]]
                                </a>
                            </li>

                            <li th:if="${pageInfo.endPageNum < pageInfo.totalPageCount}">
                                <a th:href="@{/warehouse/list(pageNum=${pageInfo.endPageNum +1}, field=${searchDto.field}, keyword=${searchDto.keyword})}">[다음]</a>
                            </li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    document.addEventListener("DOMContentLoaded", function (){
        const keywordInput=document.getElementById("keyword");
        const filterButtons=document.querySelectorAll(".filter button");
        const tableContainer=document.getElementById("warehouse-table");

        let currentField= "all"; //filter check
        let debounceTimer; //variable to hold the timer

        async function updateList(){ //function for updating the list
            const keyword=keywordInput.value;
            tableContainer.style.opacity="0.5";
            const url=`/warehouse/list?keyword=${encodeURIComponent(keyword)}&field=${currentField}&isAjax=true`;
            try{
                const response=await fetch(url);
                if(!response.ok) throw new Error(`Server Error: ${response.status}`);
                const html=await response.text();
                const parser=new DOMParser(); //convert text to DOM to extract the specific section
                const doc=parser.parseFromString(html, 'text/html');
                const newList=doc.getElementById("warehouse-table");
                if(newList) {
                    tableContainer.innerHTML = newList.innerHTML; //repalce the table content

                    const stateUrl= `/warehouse/list?keyword=${encodeURIComponent(keyword)}&field=${currentField}`;
                    window.history.pushState({path: stateUrl}, '', stateUrl);
                }else{
                    console.error;
                }
            }catch (error){
                console.error("AJAX Error:", error);
            }finally{
                tableContainer.style.opacity="1";
            }
        }
        keywordInput.addEventListener("input", ()=>{
            clearTimeout(debounceTimer);
            debounceTimer=setTimeout(updateList, 300);
        }); //immediate event listener(every 300ms)

        filterButtons.forEach(t=>{ //handles filter buttons(clicks immediately)
            t.addEventListener("click", (e)=>{
                e.preventDefault();//stops from submitting
                currentField=t.value;

                filterButtons.forEach(b=>b.classList.remove("active")); //update active UI class
                t.classList.add("active");

                updateList();
            })
        })
    });
</script>
</section>