<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>request/Outdetail.html</title>
  <link rel="stylesheet" th:href="@{/css/board.css}">
</head>
<body>
<div class="wrap">
  <div class="header">
    <a th:href="@{/main}">main</a>
  </div>
  <div class="main">
    <table>
      <tr>
        <th>상세 ID</th><th>ID</th><th>상품</th><th>수량</th><th>요청 현황</th>
        <th>승인</th><th>반려</th>
      </tr>
      <tr th:each="dto:${list}">
        <td th:text="${dto.outbound_detail_id}"></td><td th:text="${dto.outbound_id}"></td>
        <td th:text="${dto.product_id}"></td>
        <td th:text="${dto.quantity}"></td><td th:text="${dto.approval_status}"></td>
        <td><a th:href="@{/request/approvalOut(outbound_detail_id=${dto.outbound_detail_id},
                        outbound_id=${dto.outbound_id})}">승인</a></td>
        <td><button onclick="reason(this)">반려</button></td>
      </tr>
    </table>
    <div id="reasonBox">
    </div>
  </div>
  <div class="footer">
  </div>
</div>
</body>
<script>
  function reason(btn){
    const currentTr=btn.closest("tr");
    const colCount = currentTr.children.length;

    // 이미 반려 row가 있으면 다시 만들지 않음
    if(currentTr.nextElementSibling &&
            currentTr.nextElementSibling
                    .classList.contains("reasonRow")){
      return;
    }

    const tr=document.createElement("tr");
    tr.className="reasonRow";

    tr.innerHTML=`
                  <td colspan="${colCount}">
                    <form action="/request/rejectionOut" method="post">
                     <input type="hidden" name="outbound_detail_id"
                     value="${currentTr.children[0].innerText}">
                     <input type="hidden" name="outbound_id"
                     value="${currentTr.children[1].innerText}">
                     <textarea name="reason"
                      cols="50" rows="5" placeholder="반려 사유를 입력하시오."></textarea><br>
                     <button type="submit">확인</button>
                  </form>
                  </td>
                  `;

    currentTr.after(tr);
  }
</script>
</html>