<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>request/userSelect.html</title>
</head>
<body>
<div class="wrap">
  <div class="header">
    <a th:href="@{/main}">main</a>
  </div>
  <div class="main">
    <table th:border="2">
      <tr>
        <th>입고 상세 ID</th><th>입고 ID</th><th>상품</th><th>창고</th><th>수량</th>
      </tr>
      <tr th:each="dto:${list}">
        <td th:text="${dto.inbound_detail_id}"></td><td th:text="${dto.inbound_id}"></td>
        <td th:text="${dto.product_id}"></td><td th:text="${dto.warehouse_id}"></td>
        <td th:text="${dto.quantity}"></td>
      </tr>
    </table>
  </div>
  <div class="footer"></div>
</div>
</body>
</html>