<section xmlns:th="http://www.thymeleaf.org" th:fragment="content">
    <link rel="stylesheet" th:href="@{/css/notice/list.css}">
    <div class="main">

        <div class="header-group">
            <h2>📌공지사항</h2>
            <a href="/notice/new" th:if="${session.role_id == 1}" class="btn-register">공지 등록</a>
        </div>
    <!--<form method="get" action="/notice/list"> -->
        <form class="search-form"  method="get" action="/notice/list">
<!--            <input type="text" name="searchBar">-->
            <input type="text" name="keyword" placeholder="검색어를 입력하세요" th:value="${keyword}">
            <input type="date" name="startDate" th:value="${startDate}">
            ~
            <input type="date" name="endDate" th:value="${endDate}">
            <button type="submit">검색</button>
        </form>

        <table>
            <thead>
                <tr>
                    <th>번호</th>
                    <th>제목</th>
                    <th>작성자</th>
                    <th>작성일</th>
                    <th>조회수</th>
                </tr>
            </thead>

            <tbody id="noticeBody">
                <tr th:each="p : ${pinnedNotices}" class="pinned-row" th:onclick="|location.href='@{/notice/detail/{id}(id=${p.noticeId})}'|">
                    <td>📌</td>
                    <td th:text="${p.title}" style="font-weight: bold;"></td>
                    <td th:text="${p.writer}"></td>
                    <td th:text="${#temporals.format(p.createdAt, 'yyyy-MM-dd')}"></td>
                    <td th:text="${p.viewCount}"></td>
                </tr>

                <tr th:each="notice : ${noticeList}" th:onclick="|location.href='@{/notice/detail/{id}(id=${notice.noticeId})}'|" style="cursor: pointer;">
                    <td th:text="${notice.noticeId}"></td>
                    <td th:text="${notice.title}">
                        <!--        <a th:href="@{/notice/detail/{id}(id=${notice.noticeId})}"></a>-->
                    </td>
                    <td th:text="${notice.writer}"></td>
                    <td th:text="${#temporals.format(notice.createdAt, 'yyyy-MM-dd')}"></td>
                    <td th:text="${notice.viewCount}"></td>
                </tr>
            </tbody>
        </table>

        <br>

        <div class="pagination_wrap">
            <ul th:if="${pageInfo != null and pageInfo.totalPageCount > 1}">
                <li th:if="${pageInfo.startPageNum > 1}">
                    <a th:href="@{/notice/list(pageNum=${pageInfo.startPageNum - 1}, keyword=${keyword})}">[이전]</a>
                </li>
                <li th:each="num:${#numbers.sequence(pageInfo.startPageNum,pageInfo.endPageNum), keyword=${keyword}}">
                    <a th:href="@{/notice/list(pageNum=${num})}">[[${num}]]</a>
                </li>
                <li th:if="${pageInfo.endPageNum < pageInfo.totalPageCount}">
                    <a th:href="@{/notice/list(pageNum=${pageInfo.endPageNum + 1}), keyword=${keyword}}">[다음]</a>
                </li>
            </ul>
        </div>
    </div>
</section>
