<!-- content/productList.html -->
<section xmlns:th="http://www.thymeleaf.org"
         th:fragment="content">
    <link rel="stylesheet" th:href="@{/css/content/productlist.css}">

    <h2>상품 목록</h2>

    <table>
        <thead>
        <tr>
            <th>상품번호</th>
            <th>이미지</th>
            <th>상품명</th>
            <th>단위</th>
            <th>가격</th>
            <th>분류</th>
            <th>카테고리</th>
        </tr>
        </thead>

        <tbody id="productBody">
        <tr th:each="l : ${list}">
            <td th:text="${l.product_id}"></td>
            <td>
                <img th:src="@{'/image/' + ${l.save_name}}" style="width:100px; border-radius:8px;">
            </td>
            <td th:text="${l.product_name}"></td>
            <td th:text="${l.unit}"></td>
            <td th:text="${l.price}"></td>
            <td th:text="${l.status}"></td>
            <td th:text="${l.category}"></td>
        </tr>
        </tbody>
    </table>

    <div class="search-container">
        <input type="text"
               id="keyword"
               placeholder="상품명 또는 카테고리명"
               onkeydown="if(event.key === 'Enter'){ event.preventDefault(); search(); }">

        <button type="button" onclick="search()">검색</button>
    </div>

    <a th:href="@{/content/product_insert}">상품등록</a>

    <div class="pagination_wrap">
        <ul>
            <li th:if="${pageInfo.startPageNum > 1}">
                <a th:href="@{/content/productList(pageNum=${pageInfo.startPageNum - 1})}">이전</a>
            </li>
            <li th:each="num:${#numbers.sequence(pageInfo.startPageNum,pageInfo.endPageNum)}">
                <a th:href="@{/content/productList(pageNum=${num},field=${field},keyword=${keyword})}">[[${num}]]</a>
            </li>
            <li th:if="${pageInfo.endPageNum < pageInfo.totalPageCount}">
                <a th:href="@{/content/productList(pageNum=${pageInfo.endPageNum + 1})}">다음</a>
            </li>
        </ul>
    </div>

    <!-- 페이지 전용 스크립트 -->
    <script>
        function search(){
            const keyword = document.getElementById("keyword").value;

            fetch(`/common/product_search?keyword=${encodeURIComponent(keyword)}`)
                .then(res => res.json())
                .then(data => {
                    const list=data["productDtos"];
                    const tbody = document.getElementById('productBody');
                    tbody.innerHTML = '';

                    list.forEach(p => {
                        tbody.innerHTML += `
              <tr>
                <td>${p.product_id}</td>
                <td><img src="/image/${p.save_name}" style="width:100px; border-radius:8px;"></td>
                <td>${p.product_name}</td>
                <td>${p.unit}</td>
                <td>${p.price}</td>
                <td>${p.status}</td>
                <td>${p.category}</td>
              </tr>
            `;
                    });
                });
        }
    </script>

</section>
