<header th:fragment="header" class="header">
    <div class="header-left">
        <a th:href="@{/notice/list}" class="logo">
<!--            <img src="css/HSWH.svg" width="100px;" height="100px;">-->
        </a>
    </div>

    <div class="header-right">

        <!-- 채팅방 -->
        <a href="#" onclick="openChatWindow()" style="text-decoration: none; font-size: 1.2rem;">
            <span id="">💬</span>
            <span id="chatUnreadBadge" style="display:none; color: white;">0</span>
        </a>

        <!-- 로그인 사용자 이름 -->
        <span th:text="${session.webuserName}" style="font-weight: 600; font-size: 14px; color: #cdb5e1; cursor: pointer;"
              onclick="console.log('CLICK'); goMyWorkingLog();">
            사용자
        </span>

        <!-- 로그아웃 -->
        <a href="/logout" id="logoutBtn" class="logout">로그아웃</a>
    </div>
<!--    <script>-->
<!--        document.getElementById('logoutBtn').addEventListener('click', (e) => {-->
<!--            e.preventDefault();-->
<!--            sessionStorage.clear();-->
<!--            setTimeout(() => {-->
<!--                window.location.href = '/logout';-->
<!--            }, 50);-->
<!--        });-->
<!--    </script>-->
</header>

