<header th:fragment="header" class="header">
    <div class="header-left">
        <a th:href="@{/}" class="logo">
            <strong>HanSolWarehouse222222222</strong>
        </a>
    </div>

    <div class="header-right">
        <button type="button" id="btnCheckIn">출근</button>
        <button type="button" id="btnCheckOut" style="display: none;">퇴근</button>
        <!-- 채팅방 -->
        <a href="#" onclick="openChatWindow()" style="text-decoration: none; font-size: 1.2rem;">
            💬
            <span id="chatUnreadBadge" style="display:none;">0</span>
        </a>

        <!-- 로그인 사용자 이름 -->
        <span th:text="${session.roleMsg}" style="font-weight: 600; font-size: 14px; color: #cdb5e1;">
            사용자
        </span>

        <!-- 로그아웃 -->
        <a th:href="@{/logout}" class="logout">로그아웃</a>
    </div>
</header>
