
<aside th:fragment="sidebar" class="sidebar">
    <ul>
        <li><a th:href="@{/}">유통기한 임박 상품 목록</a></li>
        <li><a th:href="@{/}">창고 재적 한계 목록</a></li>
    </ul>
</aside>

<style>
    .sidebar {
        width: 200px;
        min-height: calc(100vh - 60px);
        background-color: #f5f5f5;
        padding: 15px;
    }

    .sidebar ul {
        list-style: none;
        padding: 0;
    }

    .sidebar li {
        margin-bottom: 10px;
    }

    .sidebar a {
        text-decoration: none;
        color: #333;
        font-weight: bold;
    }
</style>

