<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>field_staff/inbound_confirm.html</title>
</head>
<body>
<form th:action="@{/field_staff/inbound_conf}" method="post">
  <hr>
  <h3>LOT 1</h3>
  <input type="number" name="lot_inDtos[0].inbound_detail_id" value="1">

  <div>
    <label>Warehouse ID</label>
    <input type="number" name="lot_inDtos[0].warehouse_id" value="10">
  </div>

  <div>
    <label>Expiration Date</label>
    <input type="date" name="lot_inDtos[0].expiration_date">
  </div>

  <div>
    <label>Received Date</label>
    <input type="date" name="lot_inDtos[0].received_date">
  </div>

  <div>
    <label>Quantity</label>
    <input type="number" name="lot_inDtos[0].quantity" value="50">
  </div>

  <div>
    <label>Detail Approval Status</label>
    <select name="lot_inDtos[0].inbound_status">
      <option value="CONFIRMED">APPROVED</option>
      <option value="REJECTED">REJECTED</option>
    </select>
  </div>

  <hr>

  <!-- LOT 2 -->
  <h3>LOT 2</h3>
  <input type="number" name="lot_inDtos[1].inbound_detail_id" value="1">

  <div>
    <label>Warehouse ID</label>
    <input type="number" name="lot_inDtos[1].warehouse_id" value="10">
  </div>

  <div>
    <label>Expiration Date</label>
    <input type="date" name="lot_inDtos[1].expiration_date">
  </div>

  <div>
    <label>Received Date</label>
    <input type="date" name="lot_inDtos[1].received_date">
  </div>

  <div>
    <label>Quantity</label>
    <input type="number" name="lot_inDtos[1].quantity" value="30">
  </div>

  <div>
    <label>Detail Approval Status</label>
    <select name="lot_inDtos[1].inbound_status">
      <option value="CONFIRMED">APPROVED</option>
      <option value="REJECTED">REJECTED</option>
    </select>
  </div>

  <hr>

  <button type="submit">입고 확정</button>

</form>
</body>
</html>