<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <title>게시판목록</title>
    <link rel="stylesheet" th:href="@{/css/style.css}">
</head>
<body>
<div class="container">
    <h1 class="board-title">게시판 목록</h1>

    <div class="search-bar" >
        <!-- 검색 폼 -->
        <form th:action="@{/guest/list}" method="get" style="display: flex; gap: 10px; align-items: center; flex-grow: 1;">
            <input type="text" name="keyword" th:value="${keyword}" placeholder="제목, 작성자, 내용으로 검색..." style="flex-grow: 1; padding: 10px; border-radius: 6px; border: 1px solid #ccc; font-size: 1rem;">
            <select name="category" style="padding: 10px; border-radius: 6px; border: 1px solid #ccc; font-size: 1rem; width: 150px;">
                <option value="" th:selected="${category == null || category == ''}">전체</option>
                <option th:each="cat : ${categories}" th:value="${cat}" th:text="${cat}" th:selected="${category == cat}"></option>
            </select>
            <button type="submit" style="padding: 10px 20px; background-color: #2f855a; color: white; border: none; border-radius: 6px; cursor: pointer;">검색</button>
        </form>

        <!-- 글쓰기 버튼 -->
        <a th:href="@{/guest/write}">
            <button type="button" style="padding: 10px 20px; background-color: #276749; color: white; border: none; border-radius: 6px; cursor: pointer; font-weight: bold;">글쓰기</button>
        </a>
    </div>


    <!--게시판 테이블-->
<table class="borde-table">
    <thead>
    <tr>
        <th>ID</th>
        <th>카테고리</th>
        <th>제목</th>
        <th>작성자</th>
        <th>작성일</th>
        <th>조회수</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="board : ${list}">
        <td th:text="${board.id}">1</td>
        <td th:text="${board.category}">공지사항</td>
        <td>
            <a th:href="@{'/guest/view/'+${board.id}}" th:text="${board.title}">제목</a>
        </td>
        <td th:text="${board.name}">작성자</td>
        <td th:text="${#dates.format(board.createdAt,'yyyy-MM-dd ')}"></td>
        <td th:text="${board.viewCount}">0</td>
    </tr>
    </tbody>
</table>


<!--페이징-->
<div class="pagination">
    <!-- 이전 버튼 -->
    <a th:if="${currentPage > 0}"
       th:href="@{/guest/list(page=${currentPage - 1})}">&laquo; 이전</a>

    <!-- 페이지 번호 버튼 -->
    <span th:each="i : ${#numbers.sequence(0, totalPages - 1)}">
        <a th:href="@{/guest/list(page=${i})}"
           th:text="${i + 1}"
           th:classappend="${i == currentPage} ? 'active' : ''"></a>
    </span>

    <!-- 다음 버튼 -->
    <a th:if="${currentPage < totalPages - 1}"
       th:href="@{/guest/list(page=${currentPage + 1})}">다음 &raquo;</a>
  </div>

</div>
</body>
</html>