<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ExpiredMapper">
    <sql id="expiredSearch">
        <where>
          and lo.is_expired = 'Y'
            <if test="keyword != null and keyword != '' ">
                and (
                    upper(p.product_name) like upper('%' || #{keyword} || '%')
                    or upper(w.warehouse_name) like upper('%' || #{keyword} || '%')
                )
            </if>
            <if test="typeFilter != null and typeFilter != 'all' ">
                and upper(p.status) = upper(#{typeFilter})
            </if>
            <if test="warehouseFilter != null and warehouseFilter != ''">
                and lo.warehouse_id = #{warehouseFilter}
            </if>
        </where>
    </sql>

    <select id="getExpiredList" parameterType="map" resultType="DueDateDto">
        select * from (
            select a.*, rownum rnum from (
                select
                    lo.lot_out_id as stock_id,
                    lo.lot_in_id,
                    p.product_name,
                    p.status as product_type,
                    w.warehouse_name,
                    w.warehouse_id,
                    li.expiration_date,
                    lo.quantity,
                    lo.shipped_date as days_left
                from lot_out lo
                join lot_in li on lo.lot_in_id = li.lot_in_id
                join inbound_detail id on li.inbound_detail_id = id.inbound_detail_id
                join product p on id.product_id = p.product_id
                join warehouse w on lo.warehouse_id = w.warehouse_id
                <include refid="expiredSearch"/>
                order by lo.shipped_date desc
            ) a
        )
        <![CDATA[
        where rnum >= #{startRow} and rnum <= #{endRow}
        ]]>
    </select>

    <select id="getExpiredCount" parameterType="map" resultType="int">
        select count (*)
        from lot_out lo
        join lot_in li on lo.lot_in_id = li.lot_in_id
        join inbound_detail id on li.inbound_detail_id = id.inbound_detail_id
        join product p on id.product_id = p.product_id
        join warehouse w on lo.warehouse_id = w.warehouse_id
        <include refid="expiredSearch"/>
    </select>
</mapper>