<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.InboundMapper">
    <insert id="insert" parameterType="InboundDto">
        <selectKey keyProperty="inbound_id" resultType="int" order="BEFORE">
            SELECT inbound_seq.NEXTVAL FROM dual
        </selectKey>
        insert into inbound
        (
            inbound_id,
            webuser_id,
            request_date,
            approval_status,
            is_refund
            <if test="lot_out_id != null">
                , lot_out_id
            </if>
        )
        values (
            #{inbound_id},
            #{webuser_id},
            sysdate,
            'REQUEST',
            #{is_refund}
            <if test="lot_out_id != null">
                , #{lot_out_id}
            </if>
        )
    </insert>
    <update id="update_status" parameterType="int">
        UPDATE inbound i
        SET approval_status =
        (
            SELECT
                CASE
                    WHEN SUM(CASE WHEN d.approval_status = 'REQUEST' THEN 1 ELSE 0 END) > 0
                    THEN 'REQUEST'
                    WHEN SUM(CASE WHEN d.approval_status = 'APPROVED' THEN 1 ELSE 0 END) > 0
                    THEN 'APPROVED'
                    ELSE 'REJECTED'
                END
            FROM inbound_detail d
            WHERE d.inbound_id = i.inbound_id
        )
        WHERE i.inbound_id = #{inbound_id}
    </update>
    <select id="select_status" parameterType="int" resultType="String">
        select approval_status from inbound where inbound_id=#{inbound_id}
    </select>
    <select id="is_refunded" parameterType="int" resultType="int">
        SELECT
            CASE
            WHEN EXISTS (
            SELECT 1
            FROM inbound
            WHERE is_refund = 'Y'
            AND lot_out_id = #{value}
        )
        THEN 1
            ELSE 0
            END AS is_refund_exists
        FROM dual
    </select>
</mapper>