<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.Inbound_detailMapper">
    <insert id="insert" parameterType="Inbound_detailDto">
        insert into inbound_detail (
            inbound_detail_id,
            inbound_id,
            product_id,
            warehouse_id,
            approval_status,
        <if test="reason != null">
            reason,
        </if>
            inbound_status,
            quantity
        )
        values (
            inbound_detail_seq.nextval,
            #{inbound_id},
            #{product_id},
            #{warehouse_id},
            'REQUEST',
        <if test="reason != null">
            reason,
        </if>
            'REQUEST',
            #{quantity}
        )
    </insert>
    <insert id="insert_exp" parameterType="Inbound_detailDto">
        insert into inbound_detail (
        inbound_detail_id,
        inbound_id,
        product_id,
        warehouse_id,
        approval_status,
        inbound_status,
        quantity
        )
        values (
        inbound_detail_seq.nextval,
        #{inbound_id},
        #{product_id},
        #{warehouse_id},
        'APPROVED',
        'REQUEST',
        #{quantity}
        )
    </insert>
    <update id="update_status" parameterType="Inbound_detailDto">
        UPDATE inbound_detail
        SET inbound_status=#{inbound_status}
        WHERE inbound_detail_id=#{inbound_detail_id}
    </update>
    <update id="update_inbStatus_rej" parameterType="int">
        update inbound_detail set inbound_status='REJECTED' where inbound_detail_id=#{inbound_detail_id}
    </update>
    <update id="update_reason" parameterType="Inbound_detailDto">
        update inbound_detail set reason=#{reason} where inbound_detail_id=#{inbound_detail_id}
    </update>
    <update id="update_inbStatus_conf" parameterType="int">
        update inbound_detail set inbound_status='CONFIRMED' where inbound_detail_id=#{inbound_detail_id}
    </update>
    <update id="update_appStatus" parameterType="Inbound_detailDto">
        UPDATE inbound_detail
        SET approval_status=#{approval_status}
        WHERE inbound_detail_id=#{inbound_detail_id}
    </update>
    <update id="update_appStatus_rej" parameterType="int">
        update inbound_detail set approval_status='REJECTED' where inbound_detail_id=#{inbound_detail_id}
    </update>
    <update id="update_appStatus_conf" parameterType="int">
        update inbound_detail set approval_status='CONFIRMED' where inbound_detail_id=#{inbound_detail_id}
    </update>
    <select id="select_detail_status" parameterType="int" resultType="String">
        select inbound_status from inbound_detail where inbound_id=#{value}
    </select>
</mapper>