<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.Lot_inMapper">
    <insert id="insert" parameterType="Lot_inDto">
        <selectKey keyProperty="lot_in_id" resultType="int" order="BEFORE">
            SELECT lot_in_seq.NEXTVAL FROM dual
        </selectKey>
        insert into lot_in(
            lot_in_id,
            inbound_detail_id,
            confirmer_id,
            warehouse_id,
            expiration_date,
            received_date,
            quantity
        ) values(
            #{lot_in_id},
            #{inbound_detail_id},
            #{confirmer_id},
            #{warehouse_id},
            #{expiration_date},
            sysdate,
            #{quantity}
    )
    </insert>
</mapper>