<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.Lot_outMapper">
    <insert id="insert" parameterType="Lot_inDto">
        <selectKey keyProperty="lot_out_id" resultType="int" order="BEFORE">
            SELECT lot_out_seq.NEXTVAL FROM dual
        </selectKey>
        insert into lot_out(
            lot_out_id,
            outbound_detail_id,
            warehouse_id,
            is_expired,
            lot_in_id,
            quantity,
            shipped_date,
            stock_id
        ) values(
            #{lot_out_id},
            #{outbound_detail_id},
            #{warehouse_id},
            'N',
            #{lot_in_id},
            #{quantity},
            null,
            #{stock_id}
        )
    </insert>
    <insert id="insert_exp" parameterType="Lot_inDto">
        <selectKey keyProperty="lot_out_id" resultType="int" order="BEFORE">
            SELECT lot_out_seq.NEXTVAL FROM dual
        </selectKey>
        insert into lot_out(
        lot_out_id,
        outbound_detail_id,
        warehouse_id,
        is_expired,
        lot_in_id,
        quantity,
        shipped_date,
        stock_id
        ) values(
        #{lot_out_id},
        #{outbound_detail_id},
        #{warehouse_id},
        'Y',
        #{lot_in_id},
        #{quantity},
        null,
        #{stock_id}
        )
    </insert>
    <update id="update_rej" parameterType="map">
        update lot_out set confirmer_id=#{confirmer_id}, quantity=0, shipped_date=sysdate where lot_out_id=#{lot_out_id}
    </update>
    <select id="select_lot" parameterType="int" resultType="Lot_outDto">
        select stock_id, lot_out_id, quantity from lot_out where outbound_detail_id=#{value}
    </select>
    <update id="insert_date" parameterType="int">
        update lot_out set shipped_date=sysdate where lot_out_id=#{lot_out_id}
    </update>
    <update id="insert_confirmer" parameterType="map">
        update lot_out set confirmer_id=#{confirmer_id} where lot_out_id=#{lot_out_id}
    </update>
    <select id="select_refund" parameterType="int" resultType="RefundDto">
        select l.lot_out_id, l.warehouse_id, l.quantity, d.product_id from lot_out l
        join outbound_detail d
        on d.outbound_detail_id=l.outbound_detail_id
        where lot_out_id=#{value}
    </select>
</mapper>