<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.NoticeMapper">

    <!-- 공지 목록 -->
    <select id="selectNoticeList" resultType="NoticeDto">
        SELECT
        NOTICE_ID   AS noticeId,
        TITLE,
        WRITER,
        VIEW_COUNT  AS viewCount,
        CREATED_AT  AS createdAt
        FROM NOTICE
        <where>
            PIN_YN= 'N'
            <if test="keyword != null and keyword != ''">
                and (
                    title like '%' || #{keyword} || '%'
                    or writer like '%' || #{keyword} || '%'
                    or cast(notice_id as varchar2(100)) like '%' || #{keyword} || '%'
                )
            </if>
            <if test="startDate != null and startDate != ''">
                AND CREATED_AT <![CDATA[>=]]> TO_DATE(#{startDate}, 'YYYY-MM-DD')
            </if>
            <if test="endDate != null and endDate != ''">
                AND CREATED_AT <![CDATA[<=]]> TO_DATE(#{endDate}, 'YYYY-MM-DD')+1
            </if>
        </where>
        ORDER BY NOTICE_ID DESC
        OFFSET #{offset} ROWS FETCH NEXT #{limit} ROWS ONLY
    </select>
    <!--상단 고정 공지조회-->
    <select id="selectPinnedNotices" resultType="com.example.demo.dto.NoticeDto">
        SELECT
        NOTICE_ID   AS noticeId,
        TITLE,
        WRITER,
        VIEW_COUNT  AS viewCount,
        CREATED_AT  AS createdAt,
        PIN_YN      AS pinYn
        FROM NOTICE
        WHERE PIN_YN= 'Y'
        ORDER BY CREATED_AT DESC
        fetch first 3 rows only
        </select>

    <!-- 등록 -->
    <insert id="insertNotice" parameterType="com.example.demo.dto.NoticeDto">
        INSERT INTO NOTICE (
            NOTICE_ID, TITLE, CONTENT, WRITER,PIN_YN
        ) VALUES (
                     NOTICE_SEQ.NEXTVAL,
                     #{title},
                     #{content},
                     #{writer},
                     #{pinYn}
                 )
    </insert>

    <!-- 상세 -->
    <select id="selectNoticeDetail" resultType="com.example.demo.dto.NoticeDto">
        SELECT
            NOTICE_ID   AS noticeId,
            TITLE,
            CONTENT,
            WRITER,
            VIEW_COUNT  AS viewCount,
            CREATED_AT  AS createdAt,
            PIN_YN      AS pinYn
        FROM NOTICE
        WHERE NOTICE_ID = #{noticeId}
    </select>

    <!-- 조회수 증가 -->
    <update id="increaseViewCount">
        UPDATE NOTICE
        SET VIEW_COUNT = VIEW_COUNT + 1
        WHERE NOTICE_ID = #{noticeId}
    </update>
     <!-- 수정 -->
    <update id="updateNotice" parameterType="com.example.demo.dto.NoticeDto">
        UPDATE NOTICE
        SET
            TITLE = #{title},
            CONTENT = #{content},
            WRITER = #{writer},
            PIN_YN = #{pinYn},
            UPDATED_AT = SYSDATE
         WHERE NOTICE_ID = #{noticeId}
    </update>
    <!-- 삭제 -->
    <delete id="deleteNotice" parameterType="long">
        DELETE FROM NOTICE
        WHERE NOTICE_ID = #{noticeId}
    </delete>


    <select id="selectRepliesbyNoticeId" resultType="NoticeReplyDto">
        select
            r.reply_id as replyId,
            r.notice_id as noticeId,
            r.webuser_id as webuserId,
            r.parent_reply_id as parentReplyId,
            u.webuser_name as webuserName,
            r.content,
            r.created_at as createdAt
        from notice_reply r
        join webuser u on r.webuser_id = u.webuser_id
        where r.notice_id = #{noticeId}
        order by r.created_at asc
    </select>

    <insert id="insertReply" parameterType="NoticeReplyDto">
        insert into notice_reply (reply_id, notice_id, webuser_id, content, parent_reply_id)
        values (notice_reply_seq.nextval, #{noticeId}, #{webuserId}, #{content}, #{parentReplyId, jdbcType=NUMERIC})
    </insert>

    <update id="updateReply">
        update notice_reply set content = #{content}
        where reply_id = #{replyId}
    </update>

    <delete id="deleteReply">
        delete from notice_reply where reply_id = #{replyId}
    </delete>
</mapper>