<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.Outbound_detailMapper">
    <insert id="insert">
        <selectKey keyProperty="outbound_detail_id" resultType="int" order="BEFORE">
            SELECT outbound_detail_seq.NEXTVAL FROM dual
        </selectKey>
        insert into outbound_detail(
            outbound_detail_id,
            outbound_id,
            product_id,
            approval_status,
            outbound_status,
            quantity
        ) values(
            #{outbound_detail_id},
            #{outbound_id},
            #{product_id},
            'REQUEST',
            'REQUEST',
            #{quantity}
        )
    </insert>
    <insert id="insert_exp">
        <selectKey keyProperty="outbound_detail_id" resultType="int" order="BEFORE">
            SELECT outbound_detail_seq.NEXTVAL FROM dual
        </selectKey>
        insert into outbound_detail(
        outbound_detail_id,
        outbound_id,
        product_id,
        approval_status,
        outbound_status,
        quantity
        ) values(
        #{outbound_detail_id},
        #{outbound_id},
        #{product_id},
        'APPROVED',
        'REQUEST',
        #{quantity}
        )
    </insert>
    <update id="update_outStatus" parameterType="Outbound_detailDto">
        update outbound_detail set outbound_status=#{outbound_status} where outbound_detail_id=#{outbound_detail_id}
    </update>
    <update id="update_outStatus_rej" parameterType="int">
        update outbound_detail set outbound_status='REJECTED' where outbound_detail_id=#{outbound_detail_id}
    </update>
    <update id="update_outStatus_conf" parameterType="int">
        update outbound_detail set outbound_status='CONFIRMED' where outbound_detail_id=#{outbound_detail_id}
    </update>
    <update id="update_appStatus" parameterType="Outbound_detailDto">
        update outbound_detail set approval_status=#{approval_status} where outbound_detail_id=#{outbound_detail_id}
    </update>
    <update id="update_appStatus_rej" parameterType="int">
        update outbound_detail set approval_status='REJECTED' where outbound_detail_id=#{outbound_detail_id}
    </update>
    <update id="update_appStatus_conf" parameterType="int">
        update outbound_detail set approval_status='CONFIRMED' where outbound_detail_id=#{outbound_detail_id}
    </update>
    <select id="select_product" parameterType="int" resultType="int">
        select product_id from outbound_detail where outbound_detail_id=#{value}
    </select>
    <select id="select_quantity" parameterType="int" resultType="int">
        select quantity from outbound_detail where outbound_detail_id=#{value}
    </select>
    <update id="update_reason" parameterType="Outbound_detailDto">
        update outbound_detail set reason=#{reason} where outbound_detail_id=#{outbound_detail_id}
    </update>
    <select id="select_detail_status" parameterType="int" resultType="String">
        select outbound_status from outbound_detail where outbound_id=#{value}
    </select>
    <select id="select_expiration" parameterType="int" resultType="java.time.LocalDate">
        select l.expiration_date from stock s
            join lot_in l on l.lot_in_id=s.lot_in_id
            join lot_out o on l.lot_in_id=o.lot_in_id
            where o.lot_in_id=#{value}
    </select>
</mapper>