<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ProductMapper">
    <select id="selectAll" resultType="ProductDto">
        select * from product
    </select>
    <select id="select_category" parameterType="int" resultType="CategoryDto">
        SELECT *
        FROM (
            SELECT
                category_id,
                category_name,
                parent_id,
                LEVEL AS lvl
            FROM category
            START WITH category_id = #{value}
            CONNECT BY PRIOR parent_id = category_id
        )
        order by lvl desc
    </select>
    <select id="selectOne_category" parameterType="String" resultType="int">
        select category_id from category where category_name=#{value}
    </select>
    <select id="selectAll_keyword" parameterType="map" resultType="ProductDto">
        SELECT * FROM
        (
        SELECT
            rownum rn,
            p.product_id,
            p.product_name,
            p.price,
            p.unit,
            p.status,
            p.category_id,
            c.category_path AS category
        FROM product p
        JOIN (
        SELECT
            category_id,
            LTRIM(SYS_CONNECT_BY_PATH(category_name, '>'), '>') AS category_path
            FROM category
            START WITH parent_id IS NULL
            CONNECT BY PRIOR category_id = parent_id
        ) c
        ON p.category_id = c.category_id
        WHERE
            p.product_name LIKE '%' || #{value} || '%'
            OR c.category_path LIKE '%' || #{value} || '%'
        )
        <![CDATA[
        WHERE rn >= #{startRow} and rn <= #{endRow}
        ]]>
    </select>
    <select id="count" resultType="int">
        SELECT count(*) from product p
        JOIN (
        SELECT
        category_id,
        LTRIM(SYS_CONNECT_BY_PATH(category_name, '>'), '>') AS category_path
        FROM category
        START WITH parent_id IS NULL
        CONNECT BY PRIOR category_id = parent_id
        ) c
        ON p.category_id = c.category_id
        WHERE
        p.product_name LIKE '%' || #{value} || '%'
        OR c.category_path LIKE '%' || #{value} || '%'
    </select>
    <insert id="insert" parameterType="ProductDto">
        insert into product(
            product_id,
            product_name,
            category_id,
            price,
            unit,
            image_id,
            status
        ) values(
            product_seq.nextval,
            #{product_name},
            #{category_id},
            #{price},
            #{unit},
            #{image_id},
            #{status}
        )
    </insert>
    <insert id="insert_image" parameterType="Product_imageDto">
        <selectKey keyProperty="image_id" resultType="int" order="BEFORE">
            SELECT image_seq.NEXTVAL FROM dual
        </selectKey>
        insert into product_image values (
            #{image_id},
            #{file_path},
            #{save_name}
        )
    </insert>
</mapper>