<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.ProductMapper">
    <select id="selectAll" resultType="ProductDto">
        select * from product
    </select>

    <sql id="productSearch">
        <where>
            <if test="searchDto.field != null and searchDto.field != '' and searchDto.field != 'all' ">
                and upper(p.status) = upper(#{searchDto.field})
            </if>
            <if test="searchDto.keyword != null and searchDto.keyword != '' ">
                and (
                    upper (p.product_name) like '%' || upper(#{searchDto.keyword}) || '%'
                    or upper (c.category_path) like '%' || upper(#{searchDto.keyword}) || '%'
                    or cast (p.product_id as varchar2(10)) like '%' || upper(#{searchDto.keyword}) || '%'
                )
            </if>
        </where>
    </sql>

    <select id="selectAllKeyword" parameterType="map" resultType="ProductDto">
        select * from (
            select rownum rn,
                data.* from (
                    select
                        p.product_id,
                        p.product_name,
                        p.price,
                        p.unit,
                        p.status,
                        p.category_id,
                        c.category_path as category,
                        i.save_name as save_name from product p
                    join (
                        select
                            category_id,
                            LTRIM (SYS_CONNECT_BY_PATH (category_name, '>'), '>') as category_path
                        from category
                        start with parent_id is null
                        connect by prior category_id = parent_id
                    ) c on p.category_id = c.category_id
                    left join product_image i on p.image_id = i.image_id
                    <include refid="productSearch"/>
                    order by p.product_id desc
                ) data
            )
        <![CDATA[
        where rn >= #{startRow} and rn <= #{endRow}
        ]]>
    </select>

    <select id="count" resultType="int" parameterType="map">
        select count(*)
            from product p
                join (
                select
                category_id,
                ltrim(sys_connect_by_path(category_name,'>'),'>') as category_path
                from category
                start with parent_id is null
                connect by prior category_id = parent_id
                ) c on p.category_id = c.category_id
            left join product_image i on p.image_id = i.image_id
        <include refid="productSearch"/>
<!--        select count(*)-->
<!--        from product p-->
<!--        join (-->
<!--            select category_id, category_name from category-->
<!--            start with parent_id is null-->
<!--            connect by prior category_id = parent_id-->
<!--        ) c on p.category_id = c.category_id-->
<!--        <where>-->
<!--            <if test="searchDto.field != null and searchDto.field != '' and searchDto.field != 'all' ">-->
<!--                and p.status = upper(#{searchDto.field})-->
<!--            </if>-->
<!--            <if test="searchDto.keyword != null and searchDto.keyword != '' ">-->
<!--                and (-->
<!--                    upper(p.product_name) like '%' || upper(#{searchDto.keyword}) || '%'-->
<!--                    or p.product_id like '%' || #{searchDto.keyword} || '%'-->
<!--                )-->
<!--            </if>-->
<!--        </where>-->
    </select>

    <update id="updateProduct" parameterType="ProductDto">
        update product
        <set>
            <if test="product_name != null">product_name = #{product_name},</if>
            <if test="category_id != 0">category_id= #{category_id},</if>
            <if test="price != 0">price= #{price},</if>
            <if test="unit != null">unit= #{unit},</if>
            <if test="status !=null">status= #{status},</if>
            <if test="image_id != 0">image_id= #{image_id}</if>
        </set>
        where product_id= #{product_id}
    </update>

    <select id="selectOneProduct" parameterType="int" resultType="ProductDto">
        select
            p.product_id,
            p.product_name,
            p.price,
            p.unit,
            p.status,
            p.category_id,
            c.category_path as category
        from product p
        join (
            select
                category_id,
                LTRIM (SYS_CONNECT_BY_PATH (category_name, '>'), '>') as category_path
            from category
            start with parent_id is null
            connect by prior category_id= parent_id
        ) c on p.category_id= c.category_id
        where p.product_id= #{productId}
    </select>

    <delete id="deleteProduct" parameterType="int">
        delete from product where product_id= #{product_id}
    </delete>

    <select id="select_price" parameterType="int" resultType="int">
        select price from product where product_id=#{value}
    </select>

<!--    <select id="select_category" parameterType="int" resultType="CategoryDto">-->
<!--        SELECT *-->
<!--        FROM (-->
<!--            SELECT-->
<!--                category_id,-->
<!--                category_name,-->
<!--                parent_id,-->
<!--                LEVEL AS lvl-->
<!--            FROM category-->
<!--            START WITH category_id = #{value}-->
<!--            CONNECT BY PRIOR parent_id = category_id-->
<!--        )-->
<!--        order by lvl desc-->
<!--    </select>-->
<!--    <select id="selectAll_keyword" parameterType="map" resultType="ProductDto">-->
<!--        SELECT * FROM-->
<!--        (-->
<!--        SELECT-->
<!--            rownum rn,-->
<!--            p.product_id,-->
<!--            p.product_name,-->
<!--            p.price,-->
<!--            p.unit,-->
<!--            p.status,-->
<!--            p.category_id,-->
<!--            c.category_path AS category-->
<!--        FROM product p-->
<!--        JOIN (-->
<!--        SELECT-->
<!--            category_id,-->
<!--            LTRIM(SYS_CONNECT_BY_PATH(category_name, '>'), '>') AS category_path-->
<!--            FROM category-->
<!--            START WITH parent_id IS NULL-->
<!--            CONNECT BY PRIOR category_id = parent_id-->
<!--        ) c-->
<!--        ON p.category_id = c.category_id-->
<!--        WHERE-->
<!--            p.product_name LIKE '%' || #{keyword} || '%'-->
<!--            OR c.category_path LIKE '%' || #{keyword} || '%'-->
<!--        )-->
<!--        <![CDATA[-->
<!--        WHERE rn >= #{startRow} and rn <= #{endRow}-->
<!--        ]]>-->
<!--    </select>-->
<!--    <select id="count" resultType="int">-->
<!--        SELECT count(*) from product p-->
<!--        JOIN (-->
<!--        SELECT-->
<!--        category_id,-->
<!--        LTRIM(SYS_CONNECT_BY_PATH(category_name, '>'), '>') AS category_path-->
<!--        FROM category-->
<!--        START WITH parent_id IS NULL-->
<!--        CONNECT BY PRIOR category_id = parent_id-->
<!--        ) c-->
<!--        ON p.category_id = c.category_id-->
<!--        WHERE-->
<!--        p.product_name LIKE '%' || #{value} || '%'-->
<!--        OR c.category_path LIKE '%' || #{value} || '%'-->
<!--    </select>-->
    <select id="selectOne_category" parameterType="String" resultType="int">
        select category_id from category where category_name=#{value}
    </select>
    <insert id="insert" parameterType="ProductDto">
        insert into product(
            product_id,
            product_name,
            category_id,
            price,
            unit,
            image_id,
            status
        ) values(
            product_seq.nextval,
            #{product_name},
            #{category_id},
            #{price},
            #{unit},
            #{image_id},
            #{status}
        )
    </insert>
    <insert id="insert_image" parameterType="Product_imageDto">
        <selectKey keyProperty="image_id" resultType="int" order="BEFORE">
            SELECT image_seq.NEXTVAL FROM dual
        </selectKey>
        insert into product_image values (
            #{image_id},
            #{file_path},
            #{save_name}
        )
    </insert>
    <!-- 대분류 조회 -->
    <select id="selectRootCategories" resultType="CategoryDto">
        select category_id,category_name
        from category where parent_id is null
        order by category_id
    </select>
    <!-- 하위 카테고리 조회 -->
    <select id="selectChildrenByParentId" resultType="CategoryDto">
        select category_id,category_name,parent_id
        from category where parent_id = #{parentId}
        order by category_id
    </select>
    <!-- 상품명 조회 -->
    <select id="selectProductName" resultType="string">
        select product_name from product where product_id=#{productId}
    </select>
    <insert id="insert_category" parameterType="CategoryDto">
        insert into category values(category_seq.nextval,#{category_name},#{parent_id})
    </insert>
    <insert id="insert_firstcategory" parameterType="CategoryDto">
        insert into category values(category_seq.nextval,#{category_name},null)
    </insert>
</mapper>