<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.ProductStockMapper">
    <select id="selectAll" resultType="ProductStockDto">
        SELECT *
        FROM (
        SELECT ROWNUM rn, m.*
        FROM (
        SELECT
        p.product_id,
        p.product_name,
        p.price,
        NVL(SUM(s.quantity), 0) AS quantity,
        p.unit,
        i.file_path AS image_path,
        i.save_name,
        c.category_path,
        p.status
        FROM product p
        LEFT JOIN stock s
        ON p.product_id = s.product_id
        LEFT JOIN product_image i
        ON p.image_id = i.image_id
        LEFT JOIN (
        SELECT category_id,
        LTRIM(SYS_CONNECT_BY_PATH(category_name,'>'),'>') AS category_path
        FROM category
        START WITH parent_id IS NULL
        CONNECT BY PRIOR category_id = parent_id
        ) c
        ON p.category_id = c.category_id

        <where>
            <if test="keyword != null and keyword != ''">
                (p.product_name LIKE '%'||#{keyword}||'%'
                OR c.category_path LIKE '%'||#{keyword}||'%')
            </if>

            <if test="status != null and status != ''">
                AND p.status = #{status}
            </if>
        </where>

        GROUP BY
        p.product_id,
        p.product_name,
        p.price,
        p.unit,
        i.file_path,
        i.save_name,
        c.category_path,
        p.status

        ORDER BY p.product_id
        ) m
        )
        <![CDATA[
        WHERE rn >= #{startRow}
        AND rn <= #{endRow}
        ]]>

    </select>
    <select id="count" resultType="int">
        select count(*)
        from (
        select
        p.product_id
        from product p
        left join stock s
        on p.product_id = s.product_id
        left join product_image i
        on p.image_id = i.image_id
        left join (
        select category_id,
        ltrim(sys_connect_by_path(category_name,'>'),'>') as category_path
        from category
        start with parent_id is null
        connect by prior category_id = parent_id
        ) c
        on p.category_id = c.category_id

        <where>
            <if test="keyword != null and keyword != ''">
                (p.product_name LIKE '%'||#{keyword}||'%'
                OR c.category_path LIKE '%'||#{keyword}||'%')
            </if>

            <if test="status != null and status != ''">
                AND p.status = #{status}
            </if>
        </where>

        group by
        p.product_id,
        p.product_name,
        p.price,
        p.unit,
        i.file_path,
        i.save_name,
        c.category_path,
        p.status
        )
    </select>
   <!-- 재고 수량 수정-->
    <select id="stockQuantityList" resultType="StockQuantityDto">
        select
        s.stock_id as stockId,
        l.lot_in_id as lotInId,
        p.product_name as productName,
        s.quantity as quantity,
        l.expiration_date as expirationDate
        from stock s
        join product p
        on p.product_id=s.product_id
        join lot_in l
        on l.lot_in_id = s.lot_in_id
        <![CDATA[where p.product_id = #{productId} and expiration_date >= sysdate]]>
        order by expiration_date asc
    </select>
    <update id="updateQuantity">
        update stock
        set quantity = #{quantity}
        where stock_id = #{stockId}
        and lot_in_id = #{lotInId}
    </update>
    <select id="select_stock" parameterType="long" resultType="int">
        select * from
        (
            select s.*, rownum from stock s where product_id=#{value} and <![CDATA[quantity <> 0]]>
        )
        where rownum=1
    </select>
</mapper>


