<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.RequestMapper">
    <!-- ===============================
         1. 입출고 요청 조회
         =============================== -->

    <!-- 관리자용 입출고 요청 전체 내역 -->
    <select id="adminBound" resultType="BoundDto" parameterType="map">
        select * from
        (select rownum rn,m.* from
            (select
            'IN' as io_type,
            i.inbound_id as io_id,
            i.webuser_id,
            i.request_date,
            i.approval_status
            from inbound i
            where i.approval_status='REQUEST'

            union all

            select
            'OUT' as io_type,
            o.outbound_id as io_id,
            o.webuser_id,
            o.request_date,
            o.approval_status
            from outbound o
            where o.approval_status='REQUEST'

            order by request_date desc) m)
        <![CDATA[ where rn >=#{startRow} and rn <=#{endRow} ]]>
    </select>

    <!-- 관리자 입출고 요청 페이징용 전체 요청 건수 -->
    <select id="adminCount" resultType="int">
        select NVL(count(*),0) from
        (select
        'in' as io_type,
        i.inbound_id as io_id,
        i.webuser_id,
        i.request_date,
        i.approval_status
        from inbound i

        union all

        select
        'out' as io_type,
        o.outbound_id as io_id,
        o.webuser_id,
        o.request_date,
        o.approval_status
        from outbound o

        order by request_date desc)
    </select>

    <!-- 직원용 입출고 요청 전체 내역 -->
    <select id="userBound" parameterType="map" resultType="BoundDto">
        select * from
        (select rownum rn,m.* from
        (
        select
        'in' as io_type,
        i.inbound_id as io_id,
        i.webuser_id,
        i.request_date,
        i.approval_status
        from inbound i

        union all

        select
        'out' as io_type,
        o.outbound_id as io_id,
        o.webuser_id,
        o.request_date,
        o.approval_status
        from outbound o

        order by request_date desc
        )m
        where webuser_id=#{webuser_id})
        <![CDATA[where rn>=#{startRow} and rn<=#{endRow}]]>
    </select>

    <!-- 직원 입출고 요청 페이징용 전체 요청 건수 -->
    <select id="userCount" parameterType="int" resultType="int">
        select NVL(count(*),0) from
        (select rownum rn,m.* from
        (
        select
        'in' as io_type,
        i.inbound_id as io_id,
        i.webuser_id,
        i.request_date,
        i.approval_status
        from inbound i

        union all

        select
        'out' as io_type,
        o.outbound_id as io_id,
        o.webuser_id,
        o.request_date,
        o.approval_status
        from outbound o

        order by request_date desc
        )m
        where webuser_id=#{webuser_id})
    </select>

    <!-- 관리자용 입고 요청 내역 -->
    <select id="inboundAll" parameterType="map" resultType="InboundDto">
        select * from
        (select rownum rn, m.* from
        (select * from inbound
        where approval_status = 'REQUEST'
        order by inbound_id desc) m)
        <![CDATA[where rn>=#{startRow} and rn<=#{endRow}]]>
    </select>

    <!-- 관리자용 입고 요청 페이징용 입고 요청 건수 -->
    <select id="adminInboundCount" resultType="int">
        select NVL(count(*),0) from inbound where approval_status = 'REQUEST'
    </select>

    <!-- 직원용 입고 요청 내역 -->
    <select id="selectInbound" parameterType="map" resultType="InboundDto">
        select * from
        (select rownum rn,m.* from
        (select * from inbound where webuser_id=#{webuser_id}
        and approval_status = 'REQUEST'
        order by inbound_id desc) m)
        <![CDATA[where rn>=#{startRow} and rn<=#{endRow}]]>
    </select>

    <!-- 직원 입고 요청 페이징용 입고 요청 건수 -->
    <select id="userInboundCount" parameterType="int" resultType="int">
        select NVL(count(*),0) from inbound where webuser_id=#{webuser_id} and approval_status = 'REQUEST'
    </select>

    <!-- 관리자용 출고 요청 내역 -->
    <select id="outboundAll" resultType="OutboundDto">
        select * from
        (select rownum rn, m.* from
        (select * from outbound
        where approval_status = 'REQUEST'
        order by outbound_id desc) m)
        <![CDATA[where rn>=#{startRow} and rn<=#{endRow}]]>
    </select>

    <!-- 관리자용 출고 요청 페이징용 출고 요청 건수 -->
    <select id="adminOutboundCount" resultType="int">
        select NVL(count(*),0) from outbound where approval_status = 'REQUEST'
    </select>

    <!-- 직원용 출고 요청 내역 -->
    <select id="selectOutbound" parameterType="map" resultType="OutboundDto">
        select * from
        (select rownum rn,m.* from
        (select * from outbound where approval_status = 'REQUEST' and webuser_id=#{webuser_id}
        order by outbound_id desc) m)
        <![CDATA[where rn>=#{startRow} and rn<=#{endRow}]]>
    </select>

    <!-- 직원 출고 요청 페이징용 출고 요청 건수 -->
    <select id="userOutboundCount" parameterType="int" resultType="int">
        select NVL(count(*),0) from outbound where approval_status = 'REQUEST' webuser_id=#{webuser_id}
    </select>

    <!-- ===============================
         2. 입출고 상세 조회
         =============================== -->

    <!-- 입고 요청 세부 내역 -->
    <select id="inboundList" parameterType="int" resultType="Inbound_detailDto">
        select * from inbound_detail where inbound_id=#{value}
    </select>

    <!-- 출고 요청 세부 내역 -->
    <select id="outboundList" parameterType="int" resultType="Outbound_detailDto">
        select * from outbound_detail where outbound_id=#{value}
    </select>

    <!-- 입고 상세 번호별 정보 -->
    <select id="selectDetailIn" parameterType="int" resultType="Inbound_detailDto">
        select * from inbound_detail where inbound_detail_id=#{value}
    </select>

    <!-- 출고 상세 번호별 정보 -->
    <select id="selectDetailOut" parameterType="int" resultType="Outbound_detailDto">
        select * from outbound_detail where outbound_detail_id=#{value}
    </select>

    <!-- ===============================
         3. 승인 / 반려 처리 (요청 단위)
         =============================== -->

    <!-- 관리자 입고 승인 내역 추가 -->
    <insert id="approvalIn" parameterType="map">
        insert into approval
        values(
        approval_seq.nextval,
        #{approver_id},
        'IN',
        #{inbound_id},
        null,
        #{approval_status},
        sysdate
        )
    </insert>

    <!-- 관리자 입고 반려 내역 추가 -->
    <insert id="rejectionIn" parameterType="map">
        insert into approval
        values(
        approval_seq.nextval,
        #{approver_id},
        'IN',
        #{inbound_id},
        null,
        #{approval_status},
        sysdate
        )
    </insert>

    <!-- 관리자 출고 승인 내역 추가 -->
    <insert id="approvalOut" parameterType="map">
        insert into approval
        values(
        approval_seq.nextval,
        #{approver_id},
        'OUT',
        null,
        #{outbound_id},
        #{approval_status},
        sysdate
        )
    </insert>

    <!-- 관리자 출고 반려 내역 추가 -->
    <insert id="rejectionOut" parameterType="map">
        insert into approval
        values(
        approval_seq.nextval,
        #{approver_id},
        'OUT',
        null,
        #{outbound_id},
        #{approval_status},
        sysdate
        )
    </insert>

    <!-- ===============================
         4. 상세 승인 상태 변경 (상품 단위)
         =============================== -->

    <!-- 입고 상세 승인 상태 변경 -->
    <update id="inboundDetailStatus" parameterType="map">
        update inbound_detail
        set approval_status=#{approval_status},
        reason=#{reason, jdbcType=VARCHAR}
        where inbound_detail_id=#{inbound_detail_id}
    </update>

    <!-- 출고 상세 승인 상태 변경 -->
    <update id="outboundDetailStatus" parameterType="map">
        update outbound_detail
        set approval_status=#{approval_status},
        reason=#{reason, jdbcType=VARCHAR}
        where outbound_detail_id=#{outbound_detail_id}
    </update>

    <!-- ===============================
         5. 입출고 테이블 승인 상태 변경
         =============================== -->

    <!-- 입고 승인 상태 변경 -->
    <update id="inboundStatus" parameterType="map">
        update inbound set approval_status=#{approval_status}
        where inbound_id=#{inbound_id}
    </update>

    <!-- 출고 승인 상태 변경 -->
    <update id="outboundStatus" parameterType="map">
        update outbound set approval_status=#{approval_status}
        where outbound_id=#{outbound_id}
    </update>

    <!-- ===============================
         6. 승인 내역 조회
         =============================== -->

    <!-- 승인 내역 전체 조회 -->
    <select id="approvalAll" resultType="ApprovalDto">
        select * from
        (
        select rownum rn, p.* from approval p
        <include refid="search"/>
        order by approval_id desc
        )
        <![CDATA[
        where rn >= #{startRow} and rn <= #{endRow}
        ]]>
    </select>

    <!-- 승인 내역 전체 갯수 -->
    <select id="approvalCount" resultType="int">
        select count(*) from approval
        <include refid="search"/>
    </select>

    <!-- 입출고 승인 내역(버튼 나누기) -->
    <select id="approvalList" resultType="ApprovalDto">
        select * from
        (
        select rownum rn, p.* from approval p
        where bound_type = #{boundType}
        order by approval_id desc
        )
        <![CDATA[
        where rn >= #{startRow} and rn <= #{endRow}
        ]]>
    </select>

    <!-- 승인 내역 전체 갯수 -->
    <select id="approvalListCount" resultType="int">
        select count(*) from approval
        where bound_type = #{boundType}
    </select>

    <select id="approvalconfAll" resultType="ApprovalDto">
        select * from approval order by approval_id desc
    </select>

    <!-- 입고 번호로 승인 내역 조회 -->
    <select id="selectApprovalIn" parameterType="int" resultType="ApprovalDto">
        select * from approval
        where bound_type='in' and inbound_id=#{inbound_id}
    </select>

    <!-- 출고 번호로 승인 내역 조회 -->
    <select id="selectApprovalOut" parameterType="int" resultType="ApprovalDto">
        select * from approval
        where bound_type='out' and outbound_id=#{outbound_id}
    </select>

    <!-- ===============================
         7. 승인 상태 보정
         =============================== -->

    <!-- 승인된 상품이 있는 입고 요청 건에 반려 상품이 추가되었을 때 승인 상태 수정 -->
    <update id="updateApprovalIn" parameterType="int">
        update approval set approval_status='rejected'
        where inbound_id=#{inbound_id}
    </update>

    <!-- 승인된 상품이 있는 출고 요청 건에 반려 상품이 추가되었을 때 승인 상태 수정 -->
    <update id="updateApprovalOut" parameterType="int">
        update approval set approval_status='rejected'
        where outbound_id=#{outbound_id}
    </update>

    <!-- ===============================
         8. 단건 조회
         =============================== -->

    <!-- 입고 번호로 입고 테이블 조회 -->
    <select id="selectInboundId" parameterType="int" resultType="InboundDto">
        select * from inbound where inbound_id=#{value}
    </select>

    <!-- 출고 번호로 출고 테이블 조회 -->
    <select id="selectOutboundId" parameterType="int" resultType="OutboundDto">
        select * from outbound where outbound_id=#{value}
    </select>

    <select id="inboundAppList" parameterType="int" resultType="Inbound_detailDto">
        select * from inbound_detail where inbound_id=#{value} and approval_status='APPROVED'
    </select>

    <select id="outboundAppList" parameterType="int" resultType="Outbound_detailDto">
        select * from outbound_detail where outbound_id=#{value} and approval_status='APPROVED'
    </select>
    <select id="getProductName" parameterType="int" resultType="String">
        select product_name
        from product
        where product_id = #{productId}
    </select>

    <!-- 검색 조건문 -->
    <sql id="search">
        <if test="field != null and field != ''">
            where ${field} like '%'||#{keyword}||'%'
        </if>
    </sql>

</mapper>