<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.example.demo.mapper.RequestMapper">
    <!-- ===============================
         1. 입출고 요청 조회
         =============================== -->

    <!-- 관리자용 입출고 요청 전체 내역 -->
    <select id="adminBound" resultType="BoundDto" parameterType="map">
        select * from
        (select rownum rn,m.* from
            (select
                'IN' as io_type,
                i.inbound_id as io_id,
                i.webuser_id,
                i.request_date,
                i.approval_status
                from inbound i
            where i.approval_status='REQUEST'

            union all

            select
                'OUT' as io_type,
                o.outbound_id as io_id,
                o.webuser_id,
                o.request_date,
                o.approval_status
                from outbound o
            where o.approval_status='REQUEST'

            order by request_date desc) m)
        <![CDATA[ where rn >=#{startRow} and rn <=#{endRow} ]]>
    </select>

    <!-- 관리자 입출고 요청 페이징용 전체 요청 건수 -->
    <select id="adminCount" resultType="int">
        select NVL(count(*),0) from
        (select
        'in' as io_type,
        i.inbound_id as io_id,
        i.webuser_id,
        i.request_date,
        i.approval_status
        from inbound i
        where i.approval_status = 'REQUEST'

        union all

        select
        'out' as io_type,
        o.outbound_id as io_id,
        o.webuser_id,
        o.request_date,
        o.approval_status
        from outbound o
        where o.approval_status = 'REQUEST'

        order by request_date desc)
    </select>

    <!-- 직원용 입출고 요청 전체 내역 -->
    <select id="userBound" parameterType="map" resultType="BoundDto">
        select * from
        (select rownum rn,m.* from
        (
        select
        'in' as io_type,
        i.inbound_id as io_id,
        i.webuser_id,
        i.request_date,
        i.approval_status
        from inbound i

        union all

        select
        'out' as io_type,
        o.outbound_id as io_id,
        o.webuser_id,
        o.request_date,
        o.approval_status
        from outbound o

        order by request_date desc
        )m
        where webuser_id=#{webuser_id})
        <![CDATA[where rn>=#{startRow} and rn<=#{endRow}]]>
    </select>

    <!-- 직원 입출고 요청 페이징용 전체 요청 건수 -->
    <select id="userCount" parameterType="int" resultType="int">
        select NVL(count(*),0) from
        (select rownum rn,m.* from
        (
        select
        'in' as io_type,
        i.inbound_id as io_id,
        i.webuser_id,
        i.request_date,
        i.approval_status
        from inbound i

        union all

        select
        'out' as io_type,
        o.outbound_id as io_id,
        o.webuser_id,
        o.request_date,
        o.approval_status
        from outbound o

        order by request_date desc
        )m
        where webuser_id=#{webuser_id})
    </select>

    <!-- 관리자용 입고 요청 내역 -->
    <select id="inboundAll" parameterType="map" resultType="InboundAllDto">
        select * from
        (
        select rownum rn,m.* from
        (
        select
        i.inbound_id as inbound_id,
        min(p.product_name) ||
        case when count(*)>1 then ' 외 ' || (count(*)-1) || '개'
        else '' end as product_name,
        w.webuser_name as webuser_name,
        i.approval_status as approval_status,
        i.is_refund as is_refund,
        i.request_date as request_date
        from inbound i
        join inbound_detail d
        on i.inbound_id=d.inbound_id
        join webuser w
        on i.webuser_id=w.webuser_id
        join product p
        on d.product_id=p.product_id
        where i.approval_status='REQUEST'
        group by i.inbound_id,w.webuser_name,i.approval_status,
        i.is_refund,i.request_date
        order by i.inbound_id desc
        ) m
        ) t
        <![CDATA[where t.rn>=#{startRow} and t.rn<=#{endRow}]]>
    </select>

    <!-- 관리자용 입고 요청 페이징용 입고 요청 건수 -->
    <select id="adminInboundCount" resultType="int">
        select count(*)
        from (
        select i.inbound_id
        from inbound i
        join inbound_detail d on i.inbound_id=d.inbound_id
        join product p on d.product_id=p.product_id
        where i.approval_status='REQUEST'
        group by i.inbound_id
        )
    </select>

    <!-- 직원용 입고 요청 내역 -->
    <select id="selectInbound" parameterType="map" resultType="InboundDto">
        select * from
        (select rownum rn,m.* from
        (select * from inbound where webuser_id=#{webuser_id}
        order by inbound_id desc) m)
        <![CDATA[where rn>=#{startRow} and rn<=#{endRow}]]>
    </select>


    <!-- 직원 입고 요청 페이징용 입고 요청 건수 -->
    <select id="userInboundCount" parameterType="int" resultType="int">
        select NVL(count(*),0) from inbound where webuser_id=#{webuser_id}
    </select>

    <!-- 관리자용 출고 요청 내역 -->
    <select id="outboundAll" resultType="OutboundAllDto">
        select * from
        (select rownum rn,m.* from
        (select
        o.outbound_id as outbound_id,
        min(p.product_name) ||
        case when count(*)>1 then ' 외 ' || (count(*)-1) || '개'
        else '' end as product_name,
        w.webuser_name as webuser_name,
        o.approval_status as approval_status,
        o.request_date as request_date
        from outbound o
        join outbound_detail d
        on o.outbound_id=d.outbound_id
        join webuser w
        on o.webuser_id=w.webuser_id
        join product p
        on d.product_id=p.product_id
        where o.approval_status='REQUEST'
        group by o.outbound_id,w.webuser_name,o.approval_status,
        o.request_date
        order by o.outbound_id desc)m)
        <![CDATA[where rn>=#{startRow} and rn<=#{endRow}]]>
    </select>

    <!-- 관리자용 출고 요청 페이징용 출고 요청 건수 -->
    <select id="adminOutboundCount" resultType="int">
        select count(*)
        from (
        select o.outbound_id
        from outbound o
        join outbound_detail d on o.outbound_id=d.outbound_id
        join product p on d.product_id=p.product_id
        where o.approval_status='REQUEST'
        group by o.outbound_id
        )
    </select>

    <!-- 직원용 출고 요청 내역 -->
    <select id="selectOutbound" parameterType="map" resultType="OutboundDto">
        select * from
        (select rownum rn,m.* from
        (select * from outbound where webuser_id=#{webuser_id}
        order by outbound_id desc) m)
        <![CDATA[where rn>=#{startRow} and rn<=#{endRow}]]>
    </select>

    <!-- 직원 출고 요청 페이징용 출고 요청 건수 -->
    <select id="userOutboundCount" parameterType="int" resultType="int">
        select NVL(count(*),0) from outbound
    </select>

    <!-- ===============================
         2. 입출고 상세 조회
         =============================== -->

    <!-- 입고 요청 세부 내역 -->
    <select id="inboundList" parameterType="int" resultType="Inbound_detailDto">
        select * from inbound_detail where inbound_id=#{value}
    </select>

    <select id="inboundDetailList" parameterType="int" resultType="InboundDetailDto">
        select
        d.inbound_detail_id as inbound_detail_id,
        d.inbound_id as inbound_id,
        p.product_name as product_name,
        i.save_name as save_name,
        d.quantity as quantity,
        w.warehouse_name as warehouse_name,
        d.approval_status as approval_status
        from inbound_detail d
        join warehouse w
        on d.warehouse_id=w.warehouse_id
        join product p
        on d.product_id = p.product_id
        join product_image i
        on p.image_id = i.image_id
        where d.inbound_id= #{inboundId}
        order by d.inbound_detail_id desc
    </select>

    <!-- 출고 요청 세부 내역 -->
    <select id="outboundList" parameterType="int" resultType="Outbound_detailDto">
        select * from outbound_detail where outbound_id=#{value}
    </select>

    <select id="outboundDetailList" parameterType="int" resultType="OutboundDetailDto">
        select
        d.outbound_detail_id as outbound_detail_id,
        d.outbound_id as outbound_id,
        p.product_name as product_name,
        i.save_name as save_name,
        d.quantity as quantity,
        d.approval_status as approval_status
        from outbound_detail d
        join product p
        on d.product_id = p.product_id
        join product_image i
        on p.image_id = i.image_id
        where d.outbound_id=#{outboundId}
        order by d.outbound_detail_id desc
    </select>

    <!-- 입고 상세 번호별 정보 -->
    <select id="selectDetailIn" parameterType="int" resultType="Inbound_detailDto">
        select * from inbound_detail where inbound_detail_id=#{value}
    </select>

    <!-- 출고 상세 번호별 정보 -->
    <select id="selectDetailOut" parameterType="int" resultType="Outbound_detailDto">
        select * from outbound_detail where outbound_detail_id=#{value}
    </select>

    <!-- ===============================
         6. 승인 내역 조회
         =============================== -->

    <!-- 승인 내역 전체 조회 -->
    <select id="approvalAll" resultType="ApprovalDto">
        select * from
        (
        select  rownum rn, p.* from
        (
        select * from approval
        order by created_at desc
        ) p
        )
        <![CDATA[
        where rn >= #{startRow} and rn <= #{endRow}
        ]]>
    </select>

    <!-- 승인 내역 전체 갯수 -->
    <select id="approvalCount" resultType="int">
        select count(*) from approval
    </select>

    <!-- 입출고 승인 내역(버튼 나누기) -->
    <select id="approvalList" resultType="ApprovalDto">
        select * from
        (
        select  rownum rn, p.* from
        (
        select * from approval
        where bound_type = #{boundType}
        order by created_at desc
        ) p
        )
        <![CDATA[
        where rn >= #{startRow} and rn <= #{endRow}
        ]]>
    </select>

    <!-- 승인 내역 전체 갯수 -->
    <select id="approvalListCount" resultType="int">
        select count(*) from approval
        where bound_type = #{boundType}
    </select>

    <select id="approvalConfIn" parameterType="map" resultType="ApprovalConfDto">
        select * from
            (select rownum rn, w.* from
                (select
                a.approval_id as approval_id,
                w.webuser_name as approver_name,
                i.inbound_id as inbound_id,
                min(p.product_name) ||
                case when count(*)>1 then ' 외 ' ||
                (count(*)-1) || '개'
                else '' end as product_name,
        a.approval_status as approval_status,
        CASE
        WHEN SUM(CASE WHEN i.is_refund = 'Y' THEN 1 ELSE 0 END) > 0
        THEN 'Y'
        ELSE 'N'
        END AS is_refund,
        a.created_at as created_at
                from approval a
                    join webuser w
                    on a.approver_id=w.webuser_id
                    join inbound i
                    on a.inbound_id=i.inbound_id
                    join inbound_detail d
                    on i.inbound_id=d.inbound_id
                    join product p
                    on d.product_id=p.product_id
            where a.bound_type='IN' and a.approval_status='APPROVED'
            group by a.approval_id, w.webuser_name,
            i.inbound_id, a.approval_status,
            a.created_at
            having sum(
            case when d.approval_status = 'APPROVED' and d.inbound_status = 'REQUEST' then 1 else 0 end
            ) > 0
        order by a.created_at desc)w)
        <![CDATA[where rn >= #{startRow} and rn <= #{endRow}]]>
    </select>

    <select id="approvalConfOut" resultType="ApprovalConfDto">
        select * from (
                select rownum rn, w.*
                from (
                    select
                    a.approval_id,
                    w.webuser_name as approver_name,
                    o.outbound_id,
        min(p.product_name) ||
        case
        when count(distinct d.product_id) > 1
        then ' 외 ' || (count(distinct d.product_id) - 1) || '개'
        else ''
        end as product_name,
                    a.approval_status,
                    a.created_at,
                    case
                    when sum(case when l.is_expired = 'Y' then 1 else 0 end) > 0
                    then 'Y'
                    else 'N'
                    end as is_expired
                    from approval a
                    join webuser w on a.approver_id = w.webuser_id
                    join outbound o on a.outbound_id = o.outbound_id
                    join outbound_detail d on o.outbound_id = d.outbound_id
                    join product p on d.product_id = p.product_id
                    left join lot_out l on l.outbound_detail_id = d.outbound_detail_id
                    where a.bound_type = 'OUT'
                    and d.approval_status = 'APPROVED'
                group by
                a.approval_id,
                w.webuser_name,
                o.outbound_id,
                a.approval_status,
                a.created_at
        having sum(
        case when d.outbound_status = 'REQUEST' then 1 else 0 end
        ) > 0
                order by a.created_at desc
            ) w
        ) <![CDATA[where rn >= #{startRow} and rn <= #{endRow}]]>
    </select>
    <select id="approvalConfIn_count">
        select count(approval_id) from
        (select
        a.approval_id as approval_id,
        w.webuser_name as approver_name,
        i.inbound_id as inbound_id,
        min(p.product_name) ||
        case when count(*)>1 then ' 외 ' ||
        (count(*)-1) || '개'
        else '' end as product_name,
        a.approval_status as approval_status,
        CASE
        WHEN SUM(CASE WHEN i.is_refund = 'Y' THEN 1 ELSE 0 END) > 0
        THEN 'Y'
        ELSE 'N'
        END AS is_refund,
        a.created_at as created_at
        from approval a
        join webuser w
        on a.approver_id=w.webuser_id
        join inbound i
        on a.inbound_id=i.inbound_id
        join inbound_detail d
        on i.inbound_id=d.inbound_id
        join product p
        on d.product_id=p.product_id
        where a.bound_type='IN' and a.approval_status='APPROVED'
        group by a.approval_id, w.webuser_name,
        i.inbound_id, a.approval_status,
        a.created_at
        having sum(
        case when d.inbound_status = 'REQUEST' then 1 else 0 end
        ) > 0
        order by a.created_at desc)w
    </select>
    <select id="approvalConfOut_count">
        select count(approval_id)
        from (
        select
        a.approval_id,
        w.webuser_name as approver_name,
        o.outbound_id,
        min(p.product_name) ||
        case
        when count(distinct d.product_id) > 1
        then ' 외 ' || (count(distinct d.product_id) - 1) || '개'
        else ''
        end as product_name,
        a.approval_status,
        a.created_at,
        case
        when sum(case when l.is_expired = 'Y' then 1 else 0 end) > 0
        then 'Y'
        else 'N'
        end as is_expired
        from approval a
        join webuser w on a.approver_id = w.webuser_id
        join outbound o on a.outbound_id = o.outbound_id
        join outbound_detail d on o.outbound_id = d.outbound_id
        join product p on d.product_id = p.product_id
        join lot_out l on l.outbound_detail_id = d.outbound_detail_id
        where a.bound_type = 'OUT'
        and d.approval_status = 'APPROVED'
        group by
        a.approval_id,
        w.webuser_name,
        o.outbound_id,
        a.approval_status,
        a.created_at
        having sum(
        case when d.outbound_status = 'REQUEST' then 1 else 0 end
        ) > 0
        order by a.created_at desc
        ) w
    </select>

    <!-- ===============================
         8. 단건 조회
         =============================== -->

    <select id="inboundAppList" parameterType="int" resultType="Inbound_detailDto">
        select * from inbound_detail where inbound_id=#{value} and approval_status='APPROVED'
    </select>

    <select id="outboundAppList" parameterType="int" resultType="Outbound_detailDto">
        select * from outbound_detail where outbound_id=#{value} and approval_status='APPROVED'
    </select>
    <select id="getProductName" parameterType="int" resultType="String">
        select product_name
        from product
        where product_id = #{productId}
    </select>
    <select id="selectDetailInOffice" parameterType="int" resultType="InboundDetail_OfficeDto">
        select i.webuser_id, d.inbound_detail_id, p.product_name, w.warehouse_name, d.approval_status, d.inbound_status, d.reason, d.quantity
        from inbound_detail d
        join product p on d.product_id=p.product_id
        join warehouse w on d.warehouse_id=w.warehouse_id
        join inbound i on i.inbound_id=d.inbound_id
        where d.inbound_id=#{value}
    </select>
    <select id="selectDetailOutOffice" parameterType="int" resultType="OutboundDetail_OfficeDto">
        select o.webuser_id, d.outbound_detail_id, p.product_name, d.approval_status, d.outbound_status, d.reason, d.quantity
        from outbound_detail d
        join product p on d.product_id=p.product_id
        join outbound o on o.outbound_id=d.outbound_id
        where d.outbound_id=#{value}
    </select>

</mapper>