<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.StockMapper">
    <insert id="insert" parameterType="StockDto">
        insert into stock(
            stock_id,
            lot_in_id,
            quantity,
            product_id
        ) values(
            stock_seq.nextval,
            #{lot_in_id},
            #{quantity},
            #{product_id}
        )
    </insert>
    <update id="update_out" parameterType="StockDto">
        update stock set quantity=quantity-#{quantity} where stock_id=#{stock_id}
    </update>
    <update id="update_in" parameterType="StockDto">
        update stock set quantity=quantity+#{quantity} where stock_id=#{stock_id}
    </update>
    <select id="select_outbound" parameterType="int" resultType="Select_outboundDto">
        select i.inbound_detail_id, l.lot_in_id, s.stock_id, i.product_id, i.warehouse_id, l.expiration_date, s.quantity
        from inbound_detail i
            join lot_in l on i.inbound_detail_id=l.inbound_detail_id
            join stock s on l.lot_in_id=s.lot_in_id
        where i.product_id=#{product_id} and <![CDATA[s.quantity <> 0]]>
        order by l.expiration_date
    </select>
    <select id="select_expiration" resultType="Select_outboundDto">
        select i.inbound_detail_id, l.lot_in_id, s.stock_id, i.product_id, i.warehouse_id, l.expiration_date, s.quantity
        from inbound_detail i
        join lot_in l on i.inbound_detail_id=l.inbound_detail_id
        join stock s on l.lot_in_id=s.lot_in_id
        where <![CDATA[s.quantity <> 0]]> and TRUNC(l.expiration_date)<![CDATA[<=TRUNC(sysdate)]]>
    </select>
</mapper>