<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.WarehouseMapper">
    <select id="warehouse_stock" parameterType="int" resultType="int">
        select NVL(sum(s.quantity),0)
        from stock s
        join lot_in l on s.lot_in_id=l.lot_in_id
        where l.warehouse_id=#{value}
    </select>
    <select id="warehouse_capacity" parameterType="int" resultType="int">
        select maximum_capacity from warehouse where warehouse_id=#{value}
    </select>
    <sql id="warehouseSearch">
        <where>
            <if test="field != null and field != '' and field != 'all' ">
                and upper(warehouse_type) = upper(#{field})
            </if>
            <if test="keyword != null and keyword != ''">
                and (
                upper(warehouse_name) like '%' || upper(#{keyword}) || '%' or
                cast(warehouse_id as varchar2(100)) like '%' || upper(#{keyword}) || '%' or
                upper(location) like '%' || upper(#{keyword}) || '%'
                )
            </if>
        </where>
    </sql>

    <select id="selectWarehouseList" parameterType="map" resultType="WarehouseDto">
        select * from(
        select w.*, rownum rnum from(
        select
        warehouse_id,
        warehouse_name,
        warehouse_type,
        location,
        maximum_capacity,
        is_active,
        created_at
        from warehouse
        <include refid="warehouseSearch"/>
        order by warehouse_id desc
        ) w
        )
        <![CDATA[
            where rnum>=#{startRow} and rnum<=#{endRow}
        ]]>
    </select>

    <select id="getWarehouseCount" resultType="int" parameterType="map">
        select count(*) from warehouse
        <include refid="warehouseSearch"/>
    </select>

    <insert id="insertWarehouse" parameterType="WarehouseDto">
        <selectKey keyProperty="warehouse_id" resultType="int" order="BEFORE">
            select warehouse_seq.nextval from dual
        </selectKey>
        insert into warehouse(
        warehouse_id,
        warehouse_name,
        warehouse_type,
        location,
        maximum_capacity,
        is_active,
        created_at
        )
        values(
        #{warehouse_id},
        #{warehouse_name},
        #{warehouse_type},
        #{location},
        #{maximum_capacity},
        'OPEN',
        sysdate
        )
    </insert>

    <update id="updateWarehouse" parameterType="WarehouseDto">
        update warehouse
        set
        warehouse_name=#{warehouse_name},
        warehouse_type=#{warehouse_type},
        location=#{location},
        is_active=#{is_active},
        maximum_capacity = #{maximum_capacity}
        where warehouse_id=#{warehouse_id}
    </update>

    <select id="selectAll" parameterType="int" resultType="WarehouseDto">
        select
        warehouse_id,
        warehouse_name,
        warehouse_type,
        location,
        maximum_capacity,
        is_active,
        created_at
        from warehouse where warehouse_id=#{warehouse_id} order by warehouse_id desc
    </select>

    <delete id="deleteWarehouse" parameterType="int">
        delete from warehouse where warehouse_id=#{warehouse_id}
    </delete>

    <select id="selectWarehouse" resultType="WarehouseDto">
        select warehouse_id, warehouse_name, location, warehouse_type from warehouse order by warehouse_name asc
    </select>

    <select id="selectLimit" resultType="WarehouseDto">
        select
        w.warehouse_id,
        w.warehouse_name,
        w.maximum_capacity,
        NVL(sum_stock.total, 0) as current_stock,
        ROUND((NVL(sum_stock.total, 0) / w.maximum_capacity) * 100, 1) as usage_rate
        from warehouse w
        left join (
        select li.warehouse_id, sum(s.quantity) as total
        from stock s
        join lot_in li on s.lot_in_id = li.lot_in_id
        group by li.warehouse_id
        ) sum_stock on w.warehouse_id = sum_stock.warehouse_id
        order by usage_rate desc
        fetch first 10 rows only
    </select>
    <select id="warehouseType" parameterType="String" resultType="WarehouseDto">
        select warehouse_id, warehouse_name from warehouse where warehouse_type=#{value}
    </select>
</mapper>