<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "https://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.demo.mapper.WorkingLogMapper">
    <!-- 출근 체크 -->
    <insert id="checkIn" parameterType="map">
        insert into working_log
        ( working_log_id, working_date, webuser_id, check_in_time,
        check_out_time, attend_status,memo)
        values(working_log_seq.nextval,trunc(sysdate),#{webuserId},
        sysdate,null,null,null)
    </insert>

    <!-- 퇴근 체크 -->
    <update id="checkOut">
        update working_log set check_out_time=sysdate,
        attend_status=#{attendStatus}, memo=#{memo}
        where webuser_id = #{webuserId} and working_date=trunc(sysdate)
        and check_out_time is null
    </update>

    <!-- 미퇴근 기록 확인 -->
    <select id="selectOpenWorkingLog" resultType="WorkingLogDto">
        select * from
        (select
        working_log_id as workingLogId,
        trunc(working_date) as workingDate,
        check_in_time as checkInTime,
        check_out_time as checkOutTime
        from working_log
        where
        webuser_id = #{webuserId}
        and check_in_time is not null
        and check_out_time is null
        order by trunc(working_date) desc,
        working_log_id desc)
        where rownum=1
    </select>

    <!-- 오늘 출근 기록 확인 -->
    <select id="countTodayCheckIn" resultType="int">
        select count(*)
        from working_log
        where webuser_id = #{webuserId}
        and trunc(working_date) = trunc(sysdate)
        and check_in_time is not null
    </select>

    <!-- 오늘 퇴근 기록 확인 -->
    <select id="selectTodayCheckOutLogOne" resultType="WorkingLogDto">
        select check_out_time as checkOutTime
        from working_log
        where webuser_id=#{webuserId}
        and trunc(working_date)=trunc(sysdate)
    </select>

    <!-- 한 달 근무 기록 -->
    <select id="selectMyWorkingLog" resultType="WorkingLogDto">
        select
            working_log_id as workingLogId,
            trunc(working_date) as workingDate,
            attend_status as attendStatus,
            check_in_time as checkInTime,
            check_out_time as checkOutTime,
            memo,
            case
                when check_in_time is not null
                and check_out_time is null
                <![CDATA[
                and trunc(working_date) < trunc(sysdate)
                and nvl(attend_status, 'X') != 'CHECK_OUT_LATE'
                then 1
                else 0
            end as canCheckoutLate
        from working_log
        where webuser_id=#{webuserId}
            and trunc(working_date) >= (select trunc(created_at) from webuser where webuser_id = #{webuserId})
            and trunc(working_date) >= to_date(#{startDate}, 'YYYY-MM-DD')
            and trunc(working_date) < to_date(#{endDate}, 'YYYY-MM-DD')
            ]]>
        order by trunc(working_date)
    </select>

    <!-- 퇴근 보정 -->
    <update id="updateCheckoutLate">
        update working_log
        set check_out_time = #{checkOutTime},
            attend_status = 'CHECK_OUT_LATE',
            memo =
                    case
                        when memo is null or trim(memo) = '' then '퇴근 체크 익일 보정'
                        else memo || chr(10) || '퇴근 체크 익일 보정'
                    end
        where
            working_log_id = #{workingLogId}
            and webuser_id = #{webuserId}
            and check_in_time is not null
            and check_out_time is null
            and nvl(attend_status,'X') != 'CHECK_OUT_LATE'
        <![CDATA[
            and trunc(working_date) < trunc(sysdate)
        ]]>
    </update>

    <!-- 날짜 데이터 받아오기 -->
    <select id="selectWorkingDateById" resultType="java.time.LocalDate">
        select trunc(working_date)
        from working_log
        where working_log_id = #{workingLogId}
              and webuser_id = #{webuserId}
    </select>

    <!-- 근무 기록 주인 찾어 -->
    <select id="selectWorkingLogOwner" resultType="int">
        select webuser_id
        from working_log
        where working_log_id=#{workingLogId}
    </select>

    <!-- 이미 기록된 날짜 목록 -->
    <select id="selectWorkingDates" resultType="string">
        select to_char(working_date, 'YYYY-MM-DD')
        from working_log
        where webuser_id = #{webuserId}
        <![CDATA[
              and working_date >= to_date(#{startDate}, 'YYYY-MM-DD')
              and working_date < to_date(#{endDate}, 'YYYY-MM-DD')
        ]]>
    </select>
    
    <!-- 출퇴근 기록 없는 날짜 결근 체크 -->
    <insert id="insertAbsent">
        insert into working_log(
                working_log_id, webuser_id, working_date, check_in_time, check_out_time,
                attend_status, memo
                )
        values (
                working_log_seq.nextval, #{webuserId}, TO_DATE(#{workingDate}, 'YYYY-MM-DD'),
                null, null, 'ABSENT', null
                )
    </insert>

    <!-- 관리자만 결근 수정 -->
    <update id="absentUpdate">
        update working_log
        set attend_status = #{attendStatus},
        check_in_time  = #{checkInTime, jdbcType=TIMESTAMP},
        check_out_time = #{checkOutTime, jdbcType=TIMESTAMP},
        memo = case
        when #{memo} is null or trim(#{memo}) = '' then '출퇴근 미처리로 관리자 수정'
        else '출퇴근 미처리로 관리자(' || #{memo} || ') 수정'
        end
        where working_log_id = #{workingLogId}
        and webuser_id=#{ownerId}
        and attend_status = 'ABSENT'
    </update>

    <!-- 입사일 조회 -->
    <select id="selectUserCreatedDate" resultType="java.time.LocalDate">
        select trunc(created_at)
        from webuser
        where webuser_id = #{webuserId}
    </select>
</mapper>