<nav th:fragment="nav">
    <ul class="nav-tabs">
        <li><a th:href="@{/notice/list}"  th:classappend="${currentUri == '/' || currentUri == '/login/ok' || (currentUri.contains('/notice'))} ? 'active' : ''">공지사항</a></li>
        <li><a th:href="@{/field_staff/inbound_conf}" th:classappend="${currentUri != null && currentUri.contains('/field_staff/inbound_conf')} ? 'active' : ''">입출고 확인</a></li>
        <li><a th:href="@{/stockList}" th:classappend="${currentUri != null && currentUri.contains('/stockList')} ? 'active' : ''">재고 조회</a></li>
        <li><a th:href="@{/progress}" th:classappend="${currentUri != null && currentUri.contains('/progress')} ? 'active' : ''">내역</a></li>
    </ul>
</nav>