<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" th:href="@{/css/main.css}">
</head>
<body>

<!-- Header -->
<div class="header">
  <div class="logo">창고 관리 시스템</div>
  <div class="memo">[ICON]</div>
  <div class="avatar"></div>
  <div class="login">[로그인]</div>
</div>
<hr>

<!-- Navigation -->
<div class="nav">
  <ul>
    <li><button class="active">입출고 요청 승인</button></li>
    <li><a th:href="@{/}">재고 확인</a></li>
    <li><a th:href="@{/}">상품 관리</a></li>
    <li><a th:href="@{/}">계정 관리</a></li>
    <li><a th:href="@{/}">내역 조회</a></li>
    <li><a th:href="@{/stats/statistics}">매출 통계</a></li>
    <li><a th:href="@{/}">기타 설정</a></li>
  </ul>
</div>
<hr>

<!-- 메인 -->
<div class="layout">
  <div class="container">

    <!-- 입출고 요청 승인 -->
    <div class="main">
      <div class="main-title">
        <span class="main-icon">[ICON]</span>
        <h2>입출고 요청 승인</h2>
        <span class="notif-alert">(0)</span>
      </div>
    </div>

    <!-- 입출고 필터 버튼 -->
    <div class="filter">
      <button class="active">◫전체</button>
      <button>⇊입고</button>
      <button>⇈출고</button>
      <button>↻반품</button>
    </div>
    <div class="sub-filter">
        <button class="active">요청대기</button>
        <span class="notif-alert">(0)</span>
        <button>완료</button>
    </div>

    <!-- 필터 버튼(요청대기) -->
    <div class="filter-request">
      <!-- 요청대기 없을때 -->
      <!-- <div class="request-none"><p>요청이 없습니다</p></div> -->
      <!-- 요청대기 목록 -->
      <div class="request-item"><p>입고</p></div>
      <div class="request-item"><p>출고</p></div>
      <div class="request-item"><p>반품</p></div>
    </div>

    <!-- 필터 버튼(완료) -->
    <div class="filter-complete">
      <button>전체</button>
      <button>승인</button>
      <button>반려</button>
    </div>
  </div>

  <!-- sidebar -->
  <div class="sidebar">
    <!--유통기한 임박-->
    <div class="expiration-notif">
      <div class="side-title">
        <span class="alert-icon">⚠️</span>
        <a th:href="@{/sidebar/dueDate}">유통기한 임박 관리</a>
      </div>
      <!-- 유통기한 임박 목록(10게(CSS))-->
      <div class="side-content">
        <ul th:if="${not #lists.isEmpty(dueList)}">
          <li th:each="item : ${dueList}">
            <span th:text="${item.product_name}"></span>
            <span style="color: #ef4444; font-weight: bold;" th:text="'D-' + ${item.days_left}"></span>
          </li>
        </ul>
        <div class="no-data" th:if="${#lists.isEmpty(dueList)}">
          <p>임학한 상품이 없습니다.</p>
        </div>
      </div>
    </div>

    <!--재고 한계 임박-->
    <div class="storage-limit">
      <div class="side-title">
        <span class="storage-icon">🏗️</span>
        <a th:href="@{/warehouse/list}">창고 관리</a>
      </div>
      <!-- 재고 한계 임박 목록(10게(CSS))-->
      <div class="side-content">
        <ul th:if="${not #lists.isEmpty(limitList)}">
          <li th:each="w : ${limitList}">
            <span th:text="${w.warehouse_name}"></span>
            <span th:text="${w.usage_rate} + '%'"></span>
          </li>
        </ul>
        <div class="no-data" th:if="${#lists.isEmpty(limitList)}">
          <p>창고 정보가 없습니다.</p>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
</html>