<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">

    <!--재고 확인-->
    <div class="main">
        <div class="main-title">
            <span class="main-icon">[ICON]</span>
            재고 확인
        </div>
    </div>

    <!-- 검색 + 필터 -->
    <div class="filter">
        <input type="text" id="searchBar">
        <button class="active">전체</button>
        <button>냉장</button>
        <button>냉동</button>
        <button>상온</button>
    </div>

    <!-- 제고 리스트 -->
    <div class="instock-list">
        <ul>
            <li><img src="">우유</li>
            <li><img src="">아이스크림</li>
            <li><img src="">라면</li>
        </ul>
    </div>
</div>
</body>
</html>