<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">

    <!--계정 관리-->
    <div class="main">
        <div class="main-title">
            <span class="main-icon">[ICON]</span>
            계정 관리
        </div>

        <!--계정 추가 버튼-->
        <div class="main-insert">
            <button>
                <span class="insert-icon">[ICON]</span>
                계정 추가
            </button>
        </div>

        <!--검색-->
        <input type="text" id="searchBar">

        <!--계정 태이블-->
        <table class="account-list">
            <tr>
                <th>이름</th><th>이메일</th><th>역할</th><th>가입일</th><th>상태</th><th>작업</th>
            </tr>
            <tr>
                <td>송예시</td>
                <td>test@admin.com</td>
                <td>###</td>
                <td>2026.12.12</td>
                <td>R.I.P</td>
                <td>
                    <a href=""><span class="edit-icon">[ICON]</span>수정</a>
                    <a href=""><span class="delete-icon">[ICON]</span>삭제</a>
                </td>
            </tr>
        </table>
    </div>
</div>
</body>
</html>