<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="container">

    <!--창고 관리-->
    <div class="storage">
        <div class="main">
            <div class="main-title">
                <span class="main-icon">[ICON]</span>
                창고 관리
            </div>
            <div class="main-option">
                <div>창고 조회</div>
                <div>+창고 등록</div>
            </div>

            <!-- 검색 + 필터 -->
            <div class="filter">
                <input type="text" id="searchBar">
                <button class="active">전체</button>
                <button>냉장</button>
                <button>냉동</button>
                <button>상온</button>
            </div>

            <!--창고 리스트-->
            <div class="storage-list">
                <ul>
                    <li>냉장창고 A</li>
                    <li>냉동창고 A</li>
                    <li>상온창고 A</li>
                </ul>
            </div>
        </div>
    </div>
</div>
</body>
</html>