<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>approvalList.html</title>
    <link rel="stylesheet" th:href="@{/css/board.css}">
</head>
<body>
<div class="wrap">
    <div class="header">
        <div class="intoLogin">
            <h2>warehouse</h2>
            <div class="loginArea">
                <p th:if="${session.roleMsg != null}" th:text="${session.roleMsg}"></p>
                <ul>
                    <li th:if="${session.webuser_id != null}"><button type="button" onclick="logout()">logout</button></li>
                </ul>
            </div>
        </div>
    </div>
    <div class="nav">
        <ul>
            <li th:if="${session.webuser_id != null && session.role_id == 2}"><a th:href="@{/main}">입출고 요청 내역</a></li>
            <li th:if="${session.webuser_id != null && session.role_id == 1}"><a th:href="@{/main}">입출고 요청 승인</a></li>
            <li th:if="${session.webuser_id != null && session.role_id == 1}"><a th:href="@{/webuser/list}">계정 관리</a></li>
            <li th:if="${session.webuser_id != null && session.role_id == 1}"><a th:href="@{/approval/list}">승인 내역</a></li>
        </ul>
    </div>
    <div class="main">
        <table>
            <tr>
                <th>승인 번호</th><th>승인자</th><th>입출고</th><th>입출고 번호</th><th>승인 상태</th><th>승인일</th>
            </tr>
            <tr th:each="l:${list}" onclick="showDetail(this)">
                <td th:text="${l.approval_id}"></td>
                <td th:text="${l.approver_id}"></td>
                <td th:text="${l.bound_type}"></td>
                <td th:text="${l.bound_type == 'in' ? l.inbound_id : l.outbound_id}"></td>
                <td th:text="${l.approval_status}"></td>
                <td th:text="${l.created_at}"></td>
            </tr>
        </table>
    </div>
</div>
</body>
<script>
    function logout(){
        fetch('/logout')
            .then(resp=>resp.text())
            .then(data=>{
                alert(data);
                location.href="/";
            })
    }

    function showDetail(btn){
        const currentTr=btn.closest("tr");
        const colCount = currentTr.children.length;

        // 이미 상세 row 있으면 토글
        if(currentTr.nextElementSibling &&
            currentTr.nextElementSibling.classList.contains("detailRow")){
            currentTr.nextElementSibling.remove();
            return;
        }

        const bound_type=currentTr.children[2].innerText.trim();
        const bound_id=currentTr.children[3].innerText.trim();

        fetch(`/approval/detailList?bound_type=${bound_type}&bound_id=${bound_id}`)
            .then(resp=>resp.json())
            .then(data=>{

                const tr = document.createElement("tr");
                tr.className = "detailRow";

                let rows = "";

                data.forEach(l=>{

                    let reasonBtn="";

                    if(l.approval_status == 'rejected' && bound_type == 'in'){
                        reasonBtn = `
                                      <button onclick="showReason('in',${l.inbound_detail_id},
                                      this)">사유 보기</button>
                                    `;
                    }else if(l.approval_status == 'rejected' && bound_type == 'out'){
                        reasonBtn = `
                                      <button onclick="showReason('out',${l.outbound_detail_id},
                                      this)">사유 보기</button>
                                    `;
                    }

                    rows += `
                  <tr>
                    <td>${l.product_id}</td>
                    <td>${l.quantity}</td>
                    <td>${l.approval_status}
                        ${reasonBtn}
                    </td>
                  </tr>
                `;
                });

                    tr.innerHTML=`
                  <td colspan="${colCount}">
                     <table>
                     <tr>
                        <th>상품 번호</th><th>수량</th><th>승인 상태</th>
                     </tr>
                     ${rows}
                     </table>
                  </td>
                  `;

                    currentTr.after(tr);
                });
    }

    function showReason(bound_type,detail_id,btn){
        const currentTr=btn.closest("tr");

        // 이미 사유 row 있으면 토글
        if(currentTr.nextElementSibling &&
            currentTr.nextElementSibling.classList.contains("reasonRow")){
            currentTr.nextElementSibling.remove();
            return;
        }

        fetch(`/approval/showReason?detail_id=${detail_id}&bound_type=${bound_type}`)
            .then(resp=>resp.text())
            .then(reason=>{

                const tr=document.createElement("tr");
                tr.className="reasonRow";

                tr.innerHTML= `
                                <td colspan="3">
                                    ${reason}
                                </td>
                              `;

                currentTr.after(tr);
            })
    }
</script>
</html>