<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>chatRoomList.html</title>
</head>
<body>
<h1>채팅 목록</h1>
<button onclick="location.href='/chat/new'" style="margin-bottom: 10px">+ 새 채팅</button>
<table id="chatTable">
    <tr th:each="room:${list}"
        th:attr="data-room-id=${room.room_id}">
        <td>
            <div><a th:href="@{'/chat/room/'+${room.room_id}}" th:text="${room.room_name}"></a></div>
            <div class="last-message" style="font-size: 12px;color: gray;"
                    th:text="${room.last_message}">
            </div>
        </td>

        <td style="text-align: right">
            <div class="last-time" th:text="${#temporals.format(room.last_time, 'HH:mm')}"></div>
            <span class="unread-count" th:if="${room.unread_count > 0}" style="color: red;font-weight: bold">
                [[${room.unread_count}]]
            </span>
        </td>
    </tr>
</table>

<script src="https://cdn.jsdelivr.net/npm/sockjs-client@1/dist/sockjs.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/stompjs@2.3.3/lib/stomp.min.js"></script>

<script th:inline="javascript">
    const userId = /*[[${user_id}]]*/ 0;

    const socket = new SockJS('/ws');
    const stompClient = Stomp.over(socket);

    stompClient.connect({}, function () {

        stompClient.subscribe("/topic/chat-list/" + userId, function(msg){
            const data = JSON.parse(msg.body);

            const row = document.querySelector(
                `[data-room-id="${data.roomId}"]`
            );
            if(!row) return;

            //마지막 메시지 갱신
            row.querySelector(".last-message").innerText = data.lastMessage;

            //시간 갱신
            row.querySelector(".last-time").innerText =
                new Date(data.lastTime).toLocaleTimeString([], {
                    hour: '2-digit',
                    minute: '2-digit'
                });

            row.style.backgroundColor = "#f0f8ff";
            setTimeout(() => row.style.backgroundColor = "", 300);


            //안 읽은 수 처리
            let unreadEl = row.querySelector(".unread-count");

            if (data.unreadCount > 0) {
                if (!unreadEl) {
                    unreadEl = document.createElement("span");
                    unreadEl.className = "unread-count";
                    unreadEl.style.color = "red";
                    unreadEl.style.fontWeight = "bold";
                    row.children[1].appendChild(unreadEl);
                }
                unreadEl.innerText = data.unreadCount;
                unreadEl.style.display = "inline";
            } else {
                if (unreadEl) unreadEl.style.display = "none";
            }

            if (data.unreadCount > 0) {
                moveRowToTop(row);
            }

        });

    });

    function moveRowToTop(row) {
        const table = document.getElementById("chatTable");
        table.prepend(row);
    }

    window.addEventListener("pageshow", function (event) {
        if (event.persisted) {
            location.reload();
        }
    });

</script>
</body>
</html>