<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1> 입고 </h1>
<a th:href="@{/office_staff/inbound_req}">요청</a>
<a th:href="@{/admin/inbound_app}">승인</a>
<a th:href="@{/field_staff/inbound_conf}">확인</a>
<h1> 출고 </h1>
<a th:href="@{/office_staff/outbound_req}">요청</a>
<a th:href="@{/admin/outbound_app}">승인</a>
<a th:href="@{/field_staff/outbound_conf}">확인</a>

<h1>상품 목록</h1>
<a th:href="@{/common/product_list}">상품목록</a>

<h1>환불</h1>
<a th:href="@{/office_staff/inout_list}">출고목록</a>

<h1>엑셀</h1>
<a th:href="@{/download}">다운로드</a>

</body>
</html>