<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>재고확인목록</h1>
<form th:action="@{/list}" th:method="get">
    <input type="text" name="product_name" placeholder="상품명,카테고리">
    <button type="submit" name="product_type" value="COLD">냉장</button>
    <button type="submit" name="product_type" value="FROZEN">냉동</button>
    <button type="submit" name="product_type" value="ROOM">상온</button>
    <button type="submit">검색</button>
</form>

    <table>
        <tr>
            <th>재고번호</th>
            <th>재고이름</th>
            <th>카테고리</th>
            <th>가격</th>
            <th>단위</th>
            <th>이미지</th>
            <th>제품종류</th>
        </tr>
        <tr th:each="ps : ${p}">
            <td>[[${ps.stock_id}]]</td>
            <td>[[${ps.product_name}]]</td>
            <td>[[${ps.category_id}]]</td>
            <td>[[${ps.price}]]</td>
            <td>[[${ps.unit}]]</td>
            <td>[[${ps.image_id}]]</td>
            <td>[[${ps.product_type}]]</td>
        </tr>
</table>

</body>
</html>