<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>webuserInsert</title>
    <link rel="stylesheet" th:href="@{/css/board.css}">
</head>
<body>
    <h1>계정 추가</h1>
    <form th:action="@{/webuser/insert}" method="post">
        <table>
            <tr>
                <th>ID</th><td>
                            <input type="text" name="id" id="id"> <button type="button" onclick="idcheck()">중복 확인</button>
                                <span id="span" style="color: red;font-size: 11px"></span>
                           </td>
            </tr>
            <tr>
                <th>PASSWORD</th><td><input type="password" name="password"></td>
            </tr>
            <tr>
                <th>이름</th><td><input type="text"
                                      name="webuser_name">
            </td>
            </tr>
            <tr>
                <th>역할</th>
                <td>
                    <input type="radio" name="role_id"
                           value="1">관리자
                    <input type="radio" name="role_id"
                           value="2">사무 직원
                    <input type="radio" name="role_id"
                           value="3">현장 직원
                </td>
            </tr>
        </table>
        <input type="submit" value="추가">
    </form>
</body>
<script>
    function idcheck(){
        const id=document.getElementById("id").value;
        const span=document.getElementById("span");

        fetch(`/webuser/idcheck?id=${id}`)
            .then(resp=>resp.text())
            .then(data=>{
                span.innerHTML=data;
            })
    }
</script>
</html>