<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <title>login/form.html</title>
  <link rel="stylesheet" th:href="@{/css/login/loginpage.css}">
</head>
<body>
<div class="container">
  <div class="login-card">
    <h1>로그인</h1>
    <div th:if="${error != null}" class="error-msg">
      <span th:text="${error}"></span>
    </div>

    <form th:action="@{/login/ok}" method="post">
      <div class="input-group">
        <label for="id">ID</label>
        <input type="text" name="id" id="id" placeholder="아이디 입력">
      </div>
      <div class="input-group">
        <label for="password">PASSWORD</label>
        <input type="password" name="password" id="password" placeholder="비밀번호 입력">
      </div>

      <input type="submit" value="login">
    </form>

    <div class="login-footer">
      <span>계정이 없는경우 010-xxx-xxxx 에 문의해주세요</a></span>
    </div>
  </div>
</div>
</body>
</html>